<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./scripts/phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="UFO CMF Test suite">
            <directory suffix="test.php">./modules/*/tests/</directory>
            <directory suffix="test.php">./phproad/modules/*/tests/</directory>
        </testsuite>
        <testsuite name="UFO CMF Application Test suite">
            <directory suffix="test.php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
