<footer class="footer">
	<? //php $this->renderLayout('_logo', ['type' => 'small']) 
	?>

	<?/*
	<div class="footer-description">
		<?php if (Phpr::$request->getCurrentUri() === '/') : ?>
			<h1>Аксессуары для гаджетов, компьютеров, автомобилей и дома</h1>
		<?php else : ?>
			<p>Аксессуары для гаджетов, компьютеров, автомобилей и дома</p>
		<?php endif; ?>
	</div>
	*/ ?>

	<nav class="footer-nav">
		<?php //$this->renderLayout('_dynamic_menu') 
		?>
	</nav>

	<div class="footer-copyright">
		<span>БЛЭКБОКС</span>
		<span><?= Core_String::copyrightRange(2022) ?></span>
	</div>

	<div class="footer-years"><? //= Core_String::copyrightRange(2022) 
								?></div>
</footer>