<?php 
	$catalogCategoriesMenu = Catalog_Category::create()->list_root_children();
	$phone = $this->menuItems->getTextBlock('phone', 'Телефон', Admin_TextBlock::TYPE_PLAIN, '', 'Контакты')->content; 
?>

<header>
	<div class="header-top-section">
		<div class="header-wrapper">
			<div class="header-logo">
				<a href="/">
					<img src="/resources/images/logo.svg" alt="BlackBox">
					<span>BlackBox</span>
				</a>
			</div>

			<div class="header-description">
				Интернет магазин аксессуаров г. Южно-Сахалинск
			</div>

			<div class="header-phone">
				<a href="tel:<?= $phone ?>">
					<img src="/resources/images/icons/phone.svg" alt="">
					<span><?= $phone?></span>
				</a>
			</div>

			<div class="header-socials">
				<a href="https://www.instagram.com/blackboxsakh/" target="_blank" title="Инстаграм">
					<img src="/resources/images/icons/social/instagram.svg" alt="Инстаграм">
				</a>
				<a href="https://www.instagram.com/blackboxsakh/" target="_blank" title="WhatsApp">
					<img src="/resources/images/icons/social/whatsapp.svg" alt="WhatsApp">
				</a>
			</div>

			<nav>
				<? $this->renderLayout('_dynamic_menu') ?>
			</nav>
		</div>
	</div>

	<div class="header-bottom-section">
		<div class="header-wrapper">

			<?php 
				if($catalogCategoriesMenu) $this->renderLayout('_dynamic_menu_catalog', ['catalogCategoriesMenu' => $catalogCategoriesMenu]);
			?>

			<div class="other-menu">
				<ul>
					<li>
						<a href="https://www.instagram.com/blackboxsakh/" target="_blank">
							<img src="/resources/images/icons/social/instagram-white.svg" alt="Поиск">
							<span>Скидка 5% <span>за подписку на Instagram</span></span>
						</a>
					</li>
				</ul>
			</div>

			<?/*

			<div class="header-search">
				
				<div class="search-form">
					<input type="text" placeholder="Поиск по каталогу">
					<button title="Найти">
						<img src="/resources/images/icons/loupe.svg" alt="Поиск">
					</button>
				</div>	
				

				<div class="results-wrapper">
					<a href="">стекло</a>
					<a href="">стекло</a>
					<a href="">стекло</a>
					<a href="">стекло</a>
					<a href="">стекло</a>
					<a href="">стекло</a>
					<a href="">стекло</a>
				</div>
			</div>
			*/?>	

			<? Shop_Helper::renderMiniCart($this) ?>
		</div>
	</div>
</header>

<?php
	if($catalogCategoriesMenu) $this->renderLayout('_dynamic_menu_catalog_mobile', ['catalogCategoriesMenu' => $catalogCategoriesMenu, 'phone' => $phone]);
?>

