<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="x-ua-compatible" content="IE=edge" />

<script src="/resources/dist/swiper-bundle.min.js" defer></script>
<link media="screen" rel="stylesheet" href="/resources/dist/swiper-bundle.min.css">

<?= Core_Html::css($this->getAsset('dist/protection.css')) ?>

<?= Core_Html::js(
    $this->getAsset('dist/service-catalog-protection.min.js'),
    $this->getAsset('dist/cart-protection.min.js'),
    $this->getAsset('dist/common-protection.min.js')
) ?>