<?
/** @var Core_FrontendController $this */ ?>
<meta charset="utf-8" />
<title><?= h(site_title($title)) ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="application-name" content="BLACKBOX">
<meta name="currency" content="ruble">
<meta name="description" content="<?= site_description() ?>" />
<meta name="keywords" content="<?= site_keywords() ?>" />

<?= site_metatags($this) ?>

<link rel="shortcut icon" type="image/ico" href="/resources/images/favicon.ico">
<link rel="icon" type="image/png" href="/resources/images/favicon.png" />
<link rel="icon" type="image/x-icon" href="/resources/images/favicon.svg" />

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<link rel="manifest" href="/manifest.json">
<link rel="sitemap" href="/sitemap.xml" type="application/xml" />

<meta property="og:title" content="BLACKBOX - аксессуары и гаджеты, а так же товаров для дома, автомобилей, отдыха." />
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="website">
<meta property="og:url" content="https://bb65.ru/">
<meta property="og:description" content="Большой ассортимент аксессуаров и гаджетов, а так же товаров для дома, автомобилей, отдыха в интернет-магазине BLACKBOX по отличным ценам. Доставка!" />
<meta property="og:image" content="https://bb65.ru/resources/images/logo.svg" />
<meta property="og:site_name" content="BLACKBOX">

<meta name="yandex-verification" content="ac10f210c4c80b28" />

<!--[if lte IE 10]>
<?= Core_Html::css('/resources/css/arwm_ie6bar.css') ?>
<![endif]-->

<script src="/resources/js/axios.min.js"></script>

<?= Core_Html::js(
	$this->getAsset('js/jquery.min.js'),
	'/phproad/resources/javascript/ufo.ajax.common.js',
	'/phproad/resources/javascript/ufo.ajax.js',
	'/modules/shop/resources/js/client.js',
	$this->getAsset('js/swiper-bundle.min.js'),
	$this->getAsset('js/cookie.js'),
	$this->getAsset('js/helpers.js'),
	$this->getAsset('js/search.js'),
	$this->getAsset('js/common.js')
) ?>

<?= Core_Html::css(
	$this->getAsset('css/swiper-bundle.min.css'),
	$this->getAsset('css/styles.css')
) ?>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function(m, e, t, r, i, k, a) {
		m[i] = m[i] || function() {
			(m[i].a = m[i].a || []).push(arguments)
		};
		m[i].l = 1 * new Date();
		k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(86777992, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true
	});
</script>

<noscript>
	<div><img src="https://mc.yandex.ru/watch/86777992" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-49KB07Q11J"></script>

<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-49KB07Q11J');
</script>

<?= Phpr_View::block('head') ?>
<?= Core_Html::ga_tracker() ?>