<?php 
	$phone = $this->menuItems->getTextBlock('phone', 'Телефон', Admin_TextBlock::TYPE_PLAIN, '', 'Контакты')->content;
	$address = $this->menuItems->getTextBlock('address', 'Адрес', Admin_TextBlock::TYPE_PLAIN, '', 'Контакты')->content;
	$address_link = $this->menuItems->getTextBlock('address_link', 'Адрес - ссылка', Admin_TextBlock::TYPE_PLAIN, '', 'Контакты')->content;
?>

<header>
	<div class="header-top-section">
		<div class="header-wrapper">
			<div class="<?= Phpr::$request->getCurrentUri() === '/' ? 'logo-index':'logo'?>">
				<a href="/">
					<span class="text-1">БЛЭК</span>
					<img src="/resources/images/logo.svg" alt="БЛЭКБОКС">
					<span class="text-2">БОКС</span>
				</a>
			</div>

			<div class="header-description">Аксессуары для гаджетов, компьютеров, автомобилей и дома</div>

			<div class="header-phone">
				<a href="tel:<?= $phone ?>"><?= $phone ?></a>
			</div>

			<?php if($address): ?>
				<div class="header-address">
					<a href="<?= $address_link ?>" target="_blank"><?= $address ?></a>
				</div>
			<?php endif; ?>

			<div class="btn-status-search">
				<img src="/resources/images/icons/search.svg" alt="">
			</div>

			<div class="header-socials">
				<a href="whatsapp://api.whatsapp.com/send?phone=<?=Phpr::$config->get('PHONE')?>" target="_blank" title="WhatsApp">
					<img src="/resources/images/icons/social/whatsapp.svg" alt="WhatsApp">
				</a>

				<a href="https://t.me/Veiron93" target="_blank" title="Telegram">
					<img src="/resources/images/icons/social/telegram.svg" alt="Telegram">
				</a>
			</div>

			<nav>
				<? $this->renderLayout('_dynamic_menu') ?>
			</nav>
		</div>
	</div>

	<div class="header-bottom-section">
		<div class="header-wrapper">

			<?php if(isset($catalogRootCategories)) $this->renderLayout('_dynamic_menu_catalog', ['catalogRootCategories' => $catalogRootCategories]); ?>

			<div class="btn-catalog-menu-mobile">
				<img src="/resources/images/icons/menu.svg" alt="Меню" />
				<span>Каталог</span>
			</div>

			<div class="other-menu">
				<ul>
					<li>
						<a href="/free-delivery/">
							<img src="/resources/images/icons/smiles/happy_smile.svg" alt="бесплатная доставка">
							<span>бесплатная доставка</span>
						</a>
					</li>
				</ul>
			</div>

			<?php $this->renderLayout($this->getViewsDir() . "search/widget.htm") ?>
			<?php Shop_Helper::renderMiniCart($this) ?>
		</div>
	</div>
</header>

<?php $this->renderLayout('_dynamic_menu_catalog_mobile', ['phone' => $phone]);?>

