<div class="mobile-bottom-navigation">
	<div class="item">
		<a href="/">
			<img src="/resources/images/icons/mobile-nav-bottom/home-line.svg" alt="Главная">
			<span>Главная</span>
		</a>
	</div>

	<div class="item btn-catalog-menu-mobile">
		<img src="/resources/images/icons/mobile-nav-bottom/file-list-line.svg" alt="Каталог">
		<span>Каталог</span>
	</div>

	<? $this->renderLayout($this->getViewsDir() . "shop/_mini_cart_mobile.htm") ?>

	<!-- <div class="item">
		<a href="/">
			<img src="/resources/images/icons/user.svg" alt="Кабинет">
			<span>Кабинет</span>
		</a>
	</div> -->

	<div class="item btn-mobile-nav">
		<img class="open" src="/resources/images/icons/mobile-nav-bottom/menu-line.svg" alt="Открыть меню">
		<img class="close" src="/resources/images/icons/mobile-nav-bottom/close-line.svg" alt="Закрыть меню">
		<span>Меню</span>
	</div>

	<div class="item btn-up-page">
		<img src="/resources/images/icons/rocket.svg" alt="">
	</div>
</div>