<ul class="social-list">
	<li>
		<a href="whatsapp://api.whatsapp.com/send?phone=<?= Phpr::$config->get('PHONE') ?>" target="_blank" title="WhatsApp" rel="nofollow">
			<img src="/resources/images/icons/social/whatsapp.svg" alt="WhatsApp" />
		</a>
	</li>

	<li>
		<a href="https://t.me/Veiron93/" target="_blank" title="Telegram" rel="nofollow">
			<img src="/resources/images/icons/social/telegram.svg" alt="Telegram" />
		</a>
	</li>

	<li>
		<a href="https://vk.com/blackbox65/" target="_blank" title="ВКонтакте" rel="nofollow">
			<img src="/resources/images/icons/social/vkontakte.svg" alt="ВКонтакте" />
		</a>
	</li>
</ul>
