<div class="widget-search">
	<div class="search-form">
		<input type="text" class="search-input" placeholder="Поиск по каталогу">

		<div class="search-form_btns">
			<button class="btn-clear">
				<img src="/resources/images/icons/close.svg" alt="Очистить">
			</button>

			<button class="btn-search">
				<img src="/resources/images/icons/search.svg" alt="Поиск">
			</button>
		</div>
	</div>

	<div class="widget-search-results">
		<div class="widget-search-results_history">
			<div class="widget-search-results_history-title">История</div>
			<div class="widget-search-results_history-list"></div>
			<div class="widget-search-results_history-btn-clear">Очистить историю</div>
		</div>

		<div class="widget-search-results_categories">
			<div class="widget-search-results_categories-title">Категории</div>
			<div class="widget-search-results_categories-list"></div>
		</div>

		<div class="widget-search-results_products">
			<div class="widget-search-results_products-title">Товары</div>
			<div class="widget-search-results_products-list"></div>
		</div>
	</div>
</div>