<? $backends = Payment_Helper::listBackends() ?>

<? foreach ($backends as $backend): ?>
	<div class="form-item-radio">
		<label for="cart-form-input-<?= $backend->getId() ?>"><?= $backend->getName() ?></label>
		<input type="radio" name="payment_backend" id="cart-form-input-<?= $backend->getId() ?>" value="<?= $backend->getId() ?>" <?= Phpr_Form::radioState(h(post('payment_backend', Payment_Helper::getDefaultBackendId())), $backend->getId())?> />
		
		
		<? if ($description = $backend->getDescription()): ?>
			<div class="form-item-radio-description">
				<?= $description ?>
			</div>
		<? endif ?>
	</div>
<? endforeach ?>