<div class="attributes-wrapper">
	<?php if ($product && $product->type && $product->type->attributes): ?>
		<h4 class="title">Общие характеристики</h4>
		<table class="attributes-table">
			<?php foreach ($product->type->attributes as $attribute): ?>
				<?php if ($value = $product->getAttributeValue($attribute)) : ?>
					<tr>
					<?php $nameArr = explode('#', $attribute->name); ?>
					<td data-attr-id="<?= $attribute->id ?>"><?= $nameArr[count($nameArr) - 1] ?></td>
					<td>
						<?php if ($attribute->data_type == Catalog_Attribute::typeBool): ?>
							<?= $value ? "Да" : "Нет" ?>
						<?php else: ?>
							<?php if ($attribute->data_type == Catalog_Attribute::typeCheckboxList): ?>
								<?php $field = "attr_{$attribute->id}";
									$values = $product->getCheckboxAttributeValue($field);
								?>
								<?php foreach ($values as $val): ?>
									<a href=# class="set" data-attr-value="<?= $val ?>">
										<?= $attribute->prefix ?>
										<?= $val ?>
										<?= $attribute->suffix ?>
									</a>
								<?php endforeach; ?>
							<?php endif; ?>
							<?= $attribute->prefix ?>
							<?= $value ?>
							<?= $attribute->suffix ?>
						<?php endif; ?>
					</td>
				<?php endif; ?>
				</tr>

			<?php endforeach; ?>
		</table>
	<?php endif; ?>
</div>