<?php 
	if($category->path){
		$categories = $this->catalog->getParentCategories($category->path);
	}
?>

<div class="breadcrumbs">
	<ul>
		<li>
			<a href="<?= u("catalog_category", $category->id)?>">
				<img src="/resources/images/icons/left-arrow.svg" alt="">
			</a>
		</li>

		<li>
			<a href="<?= Phpr::$router->url("catalog_index") ?>">Каталог</a>
		</li>

		<?php if(isset($categories)): ?>
			<?php foreach ($categories as $category):?>
				<li>
					<a href="<?= u("catalog_category", $category->id)?>"><?= $category->name?></a>
				</li>
			<?php endforeach; ?>
		<?php endif; ?>
	</ul>
</div>