<?php /* @var $products Catalog_Product[] */ ?>
<?php if (isset($products)): ?>

	<?php if ( $products->count ): ?>
		<ul class="goods">
			<?php foreach ($products as $product): ?>
				<li>
					<?php if ($product->discount): ?>
						<span class="discount">-<?= (int)$product->discount ?>%</span>
					<?php endif; ?>
					<?php if (!is_null($product->price)): ?>
						<span class="price"><?= Phpr::$lang->num($product->price) ?> Р</span>
					<?php endif ?>
					<a href="<?= $product->getUrl() ?>">
						<?php if ( ($image = $product->findMainPhoto()) && ($src = $image->getThumb(150, Phpr_ImageManipulator::auto))): ?>
							<img src="<?= $src ?>" alt="" />
						<?php endif ?>
						<?= $product->name ?>
					</a>
				</li>
			<?php endforeach; ?>
		</ul>
	<?php else: ?>
		<p>Категория пуста</p>
	<?php endif ?>
<?php endif; ?>
