<?php $categories_level_2 = $category->list_children(); ?>

<div class="catalog-category-item">
	<div class="category-item-header">

		<?/*
			<?php if($image = $category->image->getPath()): ?>
				<div class="icon">
					<img src="<?= $image ?>" alt="<?= $category->name?>" />
				</div>
			<?php endif ?>
		*/?>

		<a href="<?= $category->getUrl() ?>"><?= $category->name ?></a>
	</div>


	<?php if(count($categories_level_2)): ?>
	
		<div class="categories-level-2">
			<?php foreach($categories_level_2 as $category): ?>

				<?php $categories_level_3 = $category->list_children(); ?>
				
				<div class="item <?= count($categories_level_3) ? 'category-level-2': 'category-single'?>">

					<?php if(count($categories_level_3)): ?>
						<div class="category-level-2-name">

							<?php if($image = $category->image->getPath()): ?>
								<div class="category-level-2-name-icon">
									<img src="<?= $image ?>" alt="<?= $category->name?>" />
								</div>
							<?php endif ?>

							<a href="<?= $category->getUrl() ?>"><?= $category->name?></a>
						</div>
					
						<div class="categories-level-3">
							<?php foreach($categories_level_3 as $category): ?>
								<a href="<?= $category->getUrl() ?>"><?= $category->name?></a>
							<?php endforeach ?>	
						</div>
					<?php else: ?>
						<a href="<?= $category->getUrl() ?>">
							<?php if($image = $category->image->getThumb(240, 150, Phpr_ImageManipulator::fit)): ?>
								<img src="<?= $image ?>" alt="<?= $category->name?>" />
							<?php endif ?>

							<span><?= $category->name?></span>
						</a>
					<?php endif ?>						
				</div>	
			<?php endforeach ?>							
		</div>	
	<?php endif; ?>	
</div>	