<div class="product-card">
	<div class="product-card_photo <?= $product->regular_photo ? 'product-card_photo--regular': 'product-card_photo--normal'?>">
		<a href="/catalog/product/<?= $product->id ?>">
			<?php
				if(isset($product->photos) && count($product->photos)){
					$image = (new LWImageManipulator($product->photos[0]->id, $product->photos[0]->disk_name))->getThumb(300, 300, Phpr_ImageManipulator::fitAndCrop);
				}else if($product->findMainPhoto()){
					$image = $product->findMainPhoto()->getThumb(300, 300);
				}else{
					$image = '/resources/images/icons/no-image.svg';
				}
			?>
			<img src="<?= $image ?>" alt="<?= $product->name?>" />
		</a>

		<?php if($product->old_price):?>
			<div class="product-card_flags">
				<?php if($product->old_price): ?>
					<div class="discount-percentage">
						- <?= App_Helper::getDiscountPercentage($product->old_price, $product->price);?>%
					</div>
				<?php endif; ?>
			</div>
		<?php endif; ?>
	</div>

	<div class="product-card_info">
		<div class="product-card_info-description">
			<div class="name">
				<a href="/catalog/product/<?= $product->id ?>" title="<?= $product->name ?>"><?= $product->name ?></a>
			</div>

			<div class="short-description"><?= $product->description ?></div>
		</div>

		<div class="product-card_info-buy">

			<?php if($product->price): ?>
				<div class="price">
					<?php if($product->old_price): ?>
						<div class="price-old"><?= Phpr::$lang->num($product->old_price) ?></div>
					<?php endif ?>

					<?php if($product->price): ?>
						<div class="price-actual"><?= Phpr::$lang->num($product->price) ?></div>
					<?php endif ?>
				</div>

				<?= Phpr_Form::openTag(array("action" => u("shop_cart", []), "id" => "form-{$product->id}")) ?>
					
					<?php 
						$viewData = [
							'withQuantity' => true,
							'initialQuantity' => 1,
							'item' => $product,
							'type' => 'product',
							'idPrefix' => "atc-product-{$product->id}",
							'idsProductsCart' => $idsProductsCart
						];
					?>

					<?php $this->renderPartial($this->getViewsDir() . "/shop/_add_to_cart.htm", $viewData);?>
				<? Phpr_Form::closeTag(); ?>
			<?php endif; ?>
		</div>
	</div>
</div>