<?php 
	// проверка добавлен ли товар в корзину
	if(in_array($product->id, $idsProductsCart)) $added = true; 
?>

<div class="product-card <?= (isset($added) && $added) ? 'added': '' ?>" 
	data-id="<?=$product->id?>"
>
	<div class="product-card_photo <?= $product->regular_photo ? 'product-card_photo--regular': 'product-card_photo--normal'?>">
		
		<a href="<?= u("catalog_product", $product->id); ?>">
			<?php $image = $this->catalog->imageProduct($product->images); ?>
			<img src="<?= $image ?>" alt="<?= $product->name?>" />
		</a>

		<?php $this->renderPartial($this->getViewsDir() . "/catalog/_flags_product.htm", [ 'discount' => $product->old_price ? [$product->old_price, $product->price] : null ]);?>
	</div>

	<div class="product-card_info">

		<div class="product-card_info-name">
			<a href="<?= u("catalog_product", $product->id); ?>" title="<?= $product->name ?>"><?= $product->name ?></a>
		</div>

		<?php if($product->is_useded_device): ?>
			<?php 
				if($product->state_device_useded_device < 5){
					$bg = "#e60a29";
				}elseif($product->state_device_useded_device >= 5 && $product->state_device_useded_device < 8){
					$bg = "#ddd30c";
				}else{
					$bg = "#52c104";
				}
			?>
			<div class="product-card_info-state" style="background: <?=$bg?>">
				Состояние <?=$product->state_device_useded_device ?> из 10
			</div>
		<?php endif; ?>

		<div class="product-card_info-buy">
			<?php if(isset($product->skus)): ?>

				<?php  
					$prices = [];

					foreach($product->skus as $sku){

						if($sku->price > 0 && $sku->leftover){
							array_push($prices, round($sku->price));
						}
					}

					array_push($prices, round($product->price));
				?>

				<div class="price">
					<div class="price-actual">
						<?php if(count($prices) > 1): ?>
							<span>от</span>
						<?php endif ?>

						<?= Phpr::$lang->num(min($prices)) ?>
					</div>
				</div>

			<?php else: ?>

				<?php if($product->price): ?>
					<div class="price">
						<?php if($product->old_price): ?>
							<div class="price-old"><?= Phpr::$lang->num($product->old_price) ?></div>
						<?php endif ?>

						<div class="price-actual"><?= Phpr::$lang->num($product->price) ?></div>
					</div>
				<?php endif; ?>

				<?= Phpr_Form::openTag(array("action" => u("shop_cart", []), "id" => "form-{$product->id}")) ?>
					
					<?php 
						$viewData = [
							'withQuantity' => true,
							'initialQuantity' => 1,
							'item' => $product,
							'type' => 'product',
							'idPrefix' => "atc-product-{$product->id}",
							'idsProductsCart' => $idsProductsCart
						];
					?>

					<?php $this->renderPartial($this->getViewsDir() . "/shop/_add_to_cart.htm", $viewData);?>
				<? Phpr_Form::closeTag(); ?>
			<?php endif; ?>
		</div>
	</div>
</div>