<?php
$isAddedToCart = in_array($product->id, $idsProductsCart) ? true : false;
$isSkus = isset($product->skus);
?>

<div class="product-card" data-added="<?= $isAddedToCart ?>" data-id="<?= $product->id ?>">
	<div class="product-card_photo">
		<a href="<?= u("catalog_product", $product->id); ?>">
			<?php $image = $this->catalog->imageProduct($product->images); ?>
			<img src="<?= $image ?>" alt="<?= $product->name ?>" loading="lazy" />
		</a>

		<?php $this->renderPartial($this->getViewsDir() . "/catalog/_product_flags.htm", ['product' => $product]); ?>
	</div>

	<div class="product-card_name">
		<a href="<?= u("catalog_product", $product->id); ?>">
			<?= $product->name ?>
		</a>
	</div>

	<div class="product-card_buy">
		<?php $price = Phpr::$lang->num(minProductPrice($product)); ?>

		<div class="prices">
			<div class="actual-price">
				<?php if ($isSkus): ?>
					<span>от </span>
				<?php endif; ?>

				<span><?= $price ?> ₽</span>
			</div>

			<?php if ($product->old_price) : ?>
				<div class="old-price">
					<?= Phpr::$lang->num($product->old_price) ?> ₽
				</div>
			<?php endif ?>
		</div>

		<?php if (!$isSkus): ?>
			<?php $this->renderPartial($this->getViewsDir() . "/shop/_add_to_cart.htm", ["product" => $product, 'type' => 'product']); ?>
		<?php endif; ?>
	</div>
</div>