<?php
$sorting = null;
$partsURI = parse_url($_SERVER['REQUEST_URI']);

$items = [
	["code" => null, "title" => "По популярности"],
	["code" => "name", "title" => "По наименованию"],
	["code" => "new", "title" => "Сначала новые"],
	["code" => "price", "title" => "По возрастанию цены"],
	["code" => "-price", "title" => "По убыванию цены"],
];

if (isset($partsURI['query'])) {
	parse_str($partsURI['query'], $query);

	if (isset($query['order'])) {
		foreach ($items as $item) {
			if ($item['code'] === $query['order']) {
				$sorting = $query['order'];
				continue;
			}
		}
	}
}
?>

<div class="sorting-products">
	<div class="sorting-products_title">Сортировать:</div>

	<div class="sorting-products_list">
		<?php foreach ($items as $item) : ?>
			<a <?= $sorting === $item['code'] ? 'class="active"' : '' ?> href="/<?= $url ?>/<?= $item['code'] ? '?order=' . $item['code']  : '' ?>" rel="nofollow noreferrer noopener"><?= $item['title'] ?></a>
		<?php endforeach; ?>
	</div>
</div>