<?php
$seo_title = "Все товары | БЛЭКБОКС | Аксессуары для гаджетов, компьютеров, автомобилей и дома";
$seo_description = "⭐️ Каталог всех товаров магазина БЛЭКБОКС | Аксессуары для гаджетов, компьютеров, автомобилей и дома | Южно-Сахалинск | Зарядки, кабели, наушники, чехлы, автосканеры и многое другое";
?>

<?php Phpr_View::beginBlock("meta") ?>
<title><?= $seo_title ?></title>
<meta name="description" content="<?= $seo_description ?>">
<meta name="keywords" content="все товары, купить в южно-сахалинске, купить не дорого, аксессуары для смартфонов, аксессуары для компьютеров, купить автоаксессуары, каталог Блэкбокс, интернет магазин аксессуаров, цены на товары, интернет магазин электроники Южно-Сахалинск">
<?php Phpr_View::endBlock() ?>

<?php Phpr_View::beginBlock("og") ?>
<meta property="og:title" content="<?= $seo_title ?>" />
<meta property="og:description" content="<?= $seo_description ?>" />
<meta property="og:image" content="https://bb65.ru/resources/images/logo.svg" />
<?php Phpr_View::endBlock() ?>

<?php Phpr_View::beginBlock("twitter") ?>
<meta name="twitter:title" content="<?= $seo_title ?>" />
<meta name="twitter:description" content="<?= $seo_description ?>" />
<meta name="twitter:image" content="https://bb65.ru/resources/images/logo.svg">
<?php Phpr_View::endBlock() ?>

<?php Phpr_View::beginBlock("head") ?>

<link href="https://bb65.ru/catalog/all-products/" rel="canonical">

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Все товары",
			"item": "https://bb65.ru/catalog/all-products/"
		}]
	}
</script>
<? Phpr_View::endBlock(true) ?>

<div class="container">
	<?php if (isset($allProducts) && $allProducts) : ?>
		<div class="all-products">
			<div class="heading-page">
				<h1>Все товары</h1>
			</div>

			<div class="count-products">
				Товаров в наличии: <?= $pagination->count_products ?>
			</div>

			<div class="wrapper-products wrapper-products--default lg-5 md-4 sm-2" data-view-list='grid'>
				<?php foreach ($allProducts as $product) : ?>
					<?php $this->renderPartial("product_card", ['product' => $product]); ?>
				<?php endforeach; ?>
			</div>

			<?php $this->renderPartial("pagination", ["route" => "catalog_all_products"]) ?>
		</div>
	<?php else : ?>
		<div class="catalog-no-category">Нет товаров</div>
	<?php endif; ?>
</div>