<div class="container">
	<?php if (isset($allProducts) && $allProducts): ?>
		<div class="all-products">
			<div class="heading-page">
				<h1>Все товары</h1>
			</div>

			<div class="count-products">
				Товаров в наличии: <?= $pagination->count_products ?>
			</div>

			<div class="wrapper-products wrapper-products--default lg-5 md-4 sm-2" data-view-list='grid'>
				<?php foreach ($allProducts as $product): ?>
					<?php $this->renderPartial("product_card", ['product'=>$product]);?>
				<?php endforeach; ?>
			</div>

			<?php $this->renderPartial("pagination", ["route" => "catalog_all_products"]) ?>
		</div>
	<?php else: ?>
		<div class="catalog-no-category">Нет товаров</div>
	<?php endif; ?>
</div>

		
	
		






