<?php if (isset($category) && $category) : ?>
	<?php Phpr_View::beginBlock("meta") ?>
	<title><?= $category->seo->seo_title ?></title>
	<meta name="description" content="<?= $category->seo->seo_description ?>" />
	<meta name="keywords" content="<?= $category->seo->seo_keywords ?>" />
	<?php Phpr_View::endBlock() ?>

	<?php Phpr_View::beginBlock("og") ?>
	<meta property="og:title" content="<?= $category->seo->seo_title ?>" />
	<meta property="og:description" content="<?= $category->seo->seo_description ?>" />
	<meta property="og:image" content="https://bb65.ru/resources/images/logo.svg" />
	<?php Phpr_View::endBlock() ?>

	<?php Phpr_View::beginBlock("twitter") ?>
	<meta name="twitter:title" content="<?= $category->seo->seo_title ?>" />
	<meta name="twitter:description" content="<?= $category->seo->seo_description ?>" />
	<meta name="twitter:image" content="https://bb65.ru/resources/images/logo.svg" />
	<?php Phpr_View::endBlock() ?>

	<?php Phpr_View::beginBlock("head") ?>
	<link href="https://bb65.ru/catalog/<?= $category->id ?>/" rel="canonical" />
	<?php Phpr_View::endBlock(true) ?>
<?php else : ?>
	<?php Phpr_View::beginBlock("meta") ?>
	<title>БЛЭКБОКС | Гаджеты и аксессуары для мобильных устройств, авто, компьютеров, дома | Южно-Сахалинск</title>
	<meta name="description" content="<?= site_description() ?>" />
	<meta name="keywords" content="<?= site_keywords() ?>" />
	<?php Phpr_View::endBlock() ?>
<?php endif; ?>


<div class="catalog-category">
	<?php if (isset($category) && $category) : ?>

		<?php $this->renderPartial('breadcrumbs', ['current_category' => $category, 'show_current' => true]); ?>

		<?php $subCategories = $this->catalog->getChildCategories($category); ?>

		<?php if (count($subCategories)) : ?>

			<?/* --- КАТЕГОРИИ --- */ ?>

			<?php
			$only_single_categories = 0;

			foreach ($subCategories as $subCategory) {
				$only_single_categories += count($this->catalog->getChildCategories($subCategory));
			}
			?>

			<?php if ($only_single_categories == 0) : ?>
				<h1 class="heading-3"><?= $category->name; ?></h1>
			<?php endif; ?>

			<div class="catalog-categories-list">
				<?php foreach ($subCategories as $subCategory) : ?>
					<?php $typeItem = count($this->catalog->getChildCategories($subCategory)) ? 'multi' : 'single'; ?>
					<?php $this->renderPartial($this->getViewsDir() . "catalog/card_category_" . $typeItem . ".htm", ['category' => $subCategory]); ?>
				<?php endforeach; ?>
			</div>

		<?php else : ?>

			<?/* --- ТОВАРЫ --- */ ?>

			<h1 class="heading-2"><?= $category->parent_title ? App_Catalog::getCategory($category->parent_id)->name . " " . $category->name : $category->name ?></h1>

			<div class="catalog-products_wrapper">

				<?php if (isset($products) && count($products)) : ?>
					<div class="catalog-products_list">
						<?php
						$viewModeProductsList = isset($_COOKIE['viewModeProductsList']) ? $_COOKIE['viewModeProductsList'] : "grid";
						$this->renderPartial('sorting', ['viewModeProductsList' => $viewModeProductsList, 'url' => 'catalog/' . $category->id]);
						?>

						<div class="wrapper-products wrapper-products--default lg-5 md-4 sm-2">
							<?php foreach ($products as $product) : ?>
								<?php
								if ($product->skus) {
									foreach ($product->skus as $sku) {
										$product_hidden = true;

										if ($sku->leftover) {
											$product_hidden = false;
											break;
										}
									}
								}

								if (!$product->skus || !$product_hidden) {
									$this->renderPartial("product_card", ['product' => $product]);
								}
								?>
							<?php endforeach; ?>
						</div>
					</div>
				<?php else : ?>
					<div class="catalog-no-products">
						<div class="catalog-no-products_text">Весь товар в данной категории закончился, но скоро появится новый :)</div>
						<div class="catalog-no-products_btn">
							<a href="/catalog">Посмотреть другие крутые товары</a>
						</div>
					</div>
				<?php endif; ?>
			</div>
		<?php endif; ?>

		<?php $this->renderPartial("pagination", ["route" => "catalog_category"]) ?>

	<?php else : ?>
		<div class="catalog-no-category">Категория не найдена</div>
	<?php endif; ?>
</div>