<div class="container catalog-category">

	<?php if (isset($category) && $category): ?>

		<?php $this->renderPartial('breadcrumbs') ?>

		<?php $categories = $category->list_children(); ?>

		<?php if(count($categories)): ?>

			<?/*
			<div class="catalog-category-name">
				<h1><?=$category->name?></h1>
			</div>
			*/?>

			<?php foreach ($categories as $category): ?>
				<?php $this->renderPartial($this->getViewsDir() . "/catalog/_category_item.htm", ['category'=>$category]);?>
			<?php endforeach; ?>
		<?php else: ?>

			<div class="heading-page">
				<h1><?= $category->name?></h1>
			</div>

			<div class="catalog-category-wrapper">
				<?php $this->renderPartial('filters') ?>

				<div class="catalog-category-list-wrapper">
					<div class="catalog-category-list-sorting">
						<div class="sorting-product-list">
							<div class="sorting-product-list-title">Сортировать:</div>

							<?php 
								$sorting = null;
								$partsURI = parse_url($_SERVER['REQUEST_URI']);

								if(isset($partsURI['query'])){
									parse_str($partsURI['query'], $query);

									if(isset($query['order'])){
										if($query['order'] == 'new' || $query['order'] == 'price' || $query['order'] == '-price'){
											$sorting = $query['order'];
										}
									}
								}
							?>

							<div class="sorting-product-list-items">
								<div class="item <?= !$sorting ? 'active':''?>">
									<a href="/catalog/<?= $category->id?>">По наименованию</a>
								</div>
								<div class="item <?= $sorting == 'new'? 'active':''?>">
									<a href="/catalog/<?= $category->id?>/?order=new">Сначала новые</a>
								</div>
								<div class="item <?= $sorting == 'price'? 'active':''?>">
									<a href="/catalog/<?= $category->id?>/?order=price">По возростанию цены</a>
								</div>
								<div class="item <?= $sorting == '-price'? 'active':''?>">
									<a href="/catalog/<?= $category->id?>/?order=-price">По убыванию цены</a>
								</div>
							</div>
						</div>

						<div class="view-product-list">
							<?php 
								$viewProductList = isset($_COOKIE['viewProductList']) && $_COOKIE['viewProductList'] == "list" ? "list" : "grid";
							?> 

							<div class="item <?= $viewProductList == 'grid' ?'active':''?>" data-type="grid">
								<img src="/resources/images/icons/grid.svg" alt="grid">
							</div>
							<div class="item <?= $viewProductList == 'list' ?'active':''?>" data-type="list">
								<img src="/resources/images/icons/listing.svg" alt="list">
							</div>
						</div>
					</div>

					<?php $this->renderPartial('category_listing', ['viewProductList'=>$viewProductList]) ?>
				</div>
			</div>
		<?php endif; ?>
		

		<?php /** @var $pagination Phpr_Pagination*/ ?>
		<?php if (isset($pagination)): ?>
			<?= $pagination->format(new Phpr_PrimePaginationFormatter(), u("catalog_category", [$category->id]) . "%d/") ?>
		<?php endif; ?>

	<?php else: ?>
		<h2>Категория не найдена</h2>
	<?php endif; ?>
</div>
