<? Phpr_View::beginBlock("head") ?>

<?php
$seo_title = "Каталог товаров - Большой выбор, низкие цены, доставка по Южно-Сахалинску | БЛЭКБОКС";
$seo_description = "Магазин электроники и аксессуаров для 📱 гаджетов, 🖥 компьютеров, 🚘 автомобилей, 🏠 дома - БЛЭКБОКС - Южно-Сахалинск - Зарядки, кабели, наушники, чехлы, автосканеры и многое др.";
?>

<title><?= $seo_title ?></title>
<meta name="description" content="<?= $seo_description ?>">
<meta name="keywords" content="каталог блэкбокс, интернет магазин электроники, цены блэкбокс, адрес блэкбокс, режим работы блэкбокс, блэкбокс южно-сахалинск, бб65, blackbox, аксуссуары для смартфонов, аксессуары для компьютеров, автоаксессуары">

<meta property="og:title" content="<?= $seo_title ?>" />
<meta property="og:description" content="<?= $seo_description ?>" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="<?= Phpr::$request->getRootUrl() ?><?= Phpr::$request->getCurrentUri() ?>" />
<meta name="twitter:title" content="<?= $seo_title ?>" />
<meta name="twitter:description" content="<?= $seo_description ?>" />

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Каталог товаров БЛЭКБОКС",
			"item": "https://bb65.ru/catalog/"
		}]
	}
</script>
<? Phpr_View::endBlock(true) ?>

<div class="catalog-categories-index container">
	<?php if ($catalogRootCategories) : ?>
		<h1 class="catalog-categories-index_title">Каталог товаров БЛЭКБОКС</h1>
		<div class="catalog-categories-index_list">
			<?php foreach ($catalogRootCategories as $category) : ?>
				<?php $this->renderPartial($this->getViewsDir() . "/catalog/item_catalog_category_multi.htm", ['category' => $category]); ?>
			<?php endforeach; ?>
		</div>
	<?php endif ?>
</div>