<?php
$seo_title = "Каталог товаров | БЛЭКБОКС | Южно-Сахалинск";
$seo_description = "Магазин гаджетов и аксессуаров для 📱 мобильных устройств, 🚘 авто, 🖥 компьютеров, 🏠 дома";
?>

<?php Phpr_View::beginBlock("meta") ?>
<title><?= $seo_title ?></title>
<meta name="description" content="<?= $seo_description ?>">
<meta name="keywords" content="каталог блэкбокс, интернет магазин электроники, цены блэкбокс, адрес блэкбокс, режим работы блэкбокс, блэкбокс южно-сахалинск, бб65, blackbox, аксуссуары для смартфонов, аксессуары для компьютеров, автоаксессуары">
<?php Phpr_View::endBlock() ?>

<?php Phpr_View::beginBlock("og") ?>
<meta property="og:title" content="<?= $seo_title ?>" />
<meta property="og:description" content="<?= $seo_description ?>" />
<meta property="og:image" content="https://bb65.ru/resources/images/logo.svg" />
<?php Phpr_View::endBlock() ?>

<?php Phpr_View::beginBlock("twitter") ?>
<meta name="twitter:title" content="<?= $seo_title ?>" />
<meta name="twitter:description" content="<?= $seo_description ?>" />
<meta name="twitter:image" content="https://bb65.ru/resources/images/logo.svg">
<?php Phpr_View::endBlock() ?>

<?php Phpr_View::beginBlock("head") ?>

<link href="https://bb65.ru/catalog/" rel="canonical">

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Каталог товаров БЛЭКБОКС",
			"item": "https://bb65.ru/catalog/"
		}]
	}
</script>
<?php Phpr_View::endBlock(true) ?>

<section class="catalog-index">
	<h1 class="heading-1">Каталог товаров</h1>

	<?php if ($catalogRootCategories) : ?>
		<div class="catalog-index_list">
			<?php foreach ($catalogRootCategories as $category) : ?>
				<?php $this->renderPartial($this->getViewsDir() . "/catalog/card_category_multi.htm", ['category' => $category]); ?>
			<?php endforeach; ?>
		</div>
	<?php endif ?>
</section>