<?php $categories_level_2 = $category->list_children()->except(true, 'hidden'); ?>

<div class="item-catalog-category-multi">

	<div class="category_name">
		<a href="<?= $category->getUrl() ?>"><?= $category->name ?></a>
	</div>

	<div class="category_list-level-2">
		<?php foreach($categories_level_2 as $category_level_2): ?>

			<?php $categories_level_3 = $category_level_2->list_children()->except(true, 'hidden'); ?>

			<?php if(count($categories_level_3)): ?>
				<div class="item-level-2">
					<div class="item-level-2_name">

						<?php if($image = $category_level_2->image->getPath()): ?>
							<div class="item-level-2_icon">
								<img src="<?= $image ?>" alt="<?= $category_level_2->name?>" />
							</div>
						<?php endif ?>

						<a href="<?= $category_level_2->getUrl() ?>"><?= $category_level_2->name?></a>
					</div>

					<div class="categories-level-3">
						<?php foreach($categories_level_3 as $category_level_3): ?>
							<a href="<?= $category_level_3->getUrl() ?>"><?= $category_level_3->name?></a>
						<?php endforeach ?>	
					</div>
				</div>
			<?php else: ?>
				<?php $this->renderPartial($this->getViewsDir() . "/catalog/item_catalog_category_single.htm", ['category'=>$category_level_2]); ?>
			<?php endif;?>
		<?php endforeach ?>							
	</div>	
</div>