<?php if (isset($product) && $product) : ?>

	<?php $image = $this->catalog->imageProduct($product->images); ?>

	<?php Phpr_View::beginBlock("meta") ?>
	<title><?= $product->seo->seo_title ?></title>
	<meta name="description" content="<?= $product->seo->seo_description ?>">
	<meta name="keywords" content="<?= $product->seo->seo_keywords ?>">
	<?php Phpr_View::endBlock() ?>

	<?php Phpr_View::beginBlock("og") ?>
	<meta property="og:title" content="<?= $product->seo->seo_title ?>" />
	<meta property="og:description" content="<?= $product->seo->seo_description ?>" />
	<meta property="og:image" content="<?= Phpr::$request->getRootUrl() ?><?= $image ?>" />
	<?php Phpr_View::endBlock() ?>

	<?php Phpr_View::beginBlock("twitter") ?>
	<meta name="twitter:title" content="<?= $product->seo->seo_title ?>" />
	<meta name="twitter:description" content="<?= $product->seo->seo_description ?>" />
	<meta name="twitter:image" content="<?= Phpr::$request->getRootUrl() ?><?= $image ?>">
	<?php Phpr_View::endBlock() ?>

	<?php Phpr_View::beginBlock("head") ?>
	<link href="https://bb65.ru/catalog/product/<?= $product->id ?>/" rel="canonical">

	<!-- fancybox -->
	<link media="screen" rel="stylesheet" href="/resources/dist/fancybox.css">
	<script type="text/javascript" src="/resources/dist/fancybox.umd.js" defer></script>

	<?= Core_Html::js($this->getAsset('dist/product.min.js')) ?>

	<?php Phpr_View::endBlock(true) ?>
<?php else : ?>
	<?php Phpr_View::beginBlock("meta") ?>
	<title>БЛЭКБОКС | Аксессуары для гаджетов, компьютеров, автомобилей и дома | Южно-Сахалинск</title>
	<meta name="description" content="<?= site_description() ?>">
	<meta name="keywords" content="<?= site_keywords() ?>">
	<?php Phpr_View::endBlock() ?>
<?php endif ?>


<?php Phpr_View::beginBlock("view") ?>
<section class="product">
	<?php if (isset($product) && $product) : ?>
		<?php $this->renderPartial('breadcrumbs', ['current_category' => $category, 'current_category_show' => true]) ?>

		<?/* путь до компонентов */ ?>
		<?php $path_components = $this->getViewsDir() . "/catalog/components/product/"; ?>

		<?php
		$selected_sku = null;

		if (isset($product->skus)) {
			for ($i = 0; $i <= count($product->skus) - 1; $i++) {
				if ($product->skus[$i]->leftover > 0) {
					$selected_sku = $product->skus[$i];
					break;
				}
			}
		}
		?>

		<h1 class="product_name"><?= $product->name ?></h1>

		<?/* фото */ ?>
		<?php $this->renderPartial($path_components . "photos.htm", ["product" => $product]); ?>

		<div class="product_details">
			<?/* артикулы */ ?>
			<?php $this->renderPartial($path_components . "skus.htm", ["product" => $product, "selected_sku" => $selected_sku]); ?>

			<?/* купить */ ?>
			<?php $this->renderPartial($path_components . "buy.htm", ["product" => $product, "selected_sku" => $selected_sku]); ?>

			<?/* записаться на установку */ ?>
			<?php if ($product->service_install) : ?>
				<?php $this->renderPartial($path_components . "protective_glass_installation.htm", ["product" => $product]); ?>
			<?php endif ?>

			<?/* краткое описание */ ?>
			<?php $short_description = $product->short_description; ?>

			<?php if ($short_description) : ?>
				<div class="product_short-description">
					<?= nl2br($short_description) ?>
				</div>
			<?php endif; ?>

			<?/* задать вопрос */ ?>
			<?php $this->renderPartial($path_components . "ask_question.htm", $product); ?>


		</div>

		<?/* описание товара */ ?>
		<?php $description = $product->description; ?>

		<?php if ($description) : ?>
			<div class="product_description">
				<h2>Подробнее о товаре</h2>

				<div data-formatted-text>
					<?= $description ?>
				</div>
			</div>
		<?php endif; ?>
	<?php else : ?>
		<div>Товар не найден</div>
	<?php endif; ?>
</section>
<? Phpr_View::endBlock() ?>