<?php
if (!isset($view_type)) {
	$view_type = "grid";
}
?>

<?php if (isset($products) && count($products)) : ?>
	<div class="block-product-grid block-product-grid__<?= $view_type ?>">

		<div class="title">
			<?php if (isset($link) && $link) : ?>
				<a href="<?= $link ?>">
					<h2><?= $title ?></h2>

					<div class="icon">
						<img src="/resources/images/icons/arrow-bottom-black.svg" alt="Смотреть все товары в данной категории">
					</div>
				</a>
			<?php else : ?>
				<h2><?= $title ?></h2>
			<?php endif ?>
		</div>

		<div class="wrapper-products wrapper-products--default lg-5 md-3 sm-2" data-view-list="grid">
			<?php foreach ($products as $product) : ?>
				<?php $this->renderPartial($this->getViewsDir() . "catalog/_product_card.htm", ['product' => $product]); ?>
			<?php endforeach ?>
		</div>
	</div>
<?php endif ?>