<?php if (isset($product->skus) && count($product->skus)) : ?>
    <div class="product_skus">

        <?php
        $title_sku = "Выберите модель";
        if ($category->title_sku) $title_sku = $category->title_sku;
        if ($product->title_sku) $title_sku = $product->title_sku;
        ?>

        <div class="product_skus-title"><?= $title_sku ?></div>

        <div class="product_skus-list">
            <?php foreach ($product->skus as $sku) : ?>
                <div class="item">
                    <?php if ($sku->leftover) : ?>
                        <input type="radio" id="sku-<?= $sku->id ?>" name="product-sku" <?= $selected_sku->id == $sku->id ? "checked" : "" ?> data-price="<?= Phpr::$lang->num($sku->price) ?>" data-leftover="<?= $sku->leftover ?>" value="<?= $sku->id ?>">
                        <label for="sku-<?= $sku->id ?>" title="Цена: <?= Phpr::$lang->num($sku->price) ?> &#013;Количество: <?= $sku->leftover ?>"><?= $sku->name ?></label>
                    <?php else : ?>
                        <label class="sku-none" title="нет в наличии"><?= $sku->name ?></label>
                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>