<div class="search-page container">

	<?php if (!isset($error)): ?>

		<?php if (isset($products) && count($products) || isset($categories) && count($categories)): ?>
			<div class="search-page_heading">
				<div class="query">Результаты поиска по запросу <span>«<?= h(Phpr::$request->getField('q')) ?>»</span></div>
				
				<?php if(1 > 2):?>
					<div class="count">Найдено: <?=$count?></div>
				<?php endif; ?>
			</div>


			<?/**/?>
			<?php if(count($categories)): ?>
				<div class="catalog-categories-list">
					<?php foreach ($categories as $category) : ?>
						<?php $this->renderPartial($this->getViewsDir() . "catalog/item_catalog_category_single.htm", ['category' => $category]);?>
					<?php endforeach ?>
				</div>
			<?php endif; ?>
			

			<?php if (count($products)): ?>
				<div class="wrapper-products wrapper-products--default lg-5 md-4 sm-2" data-view-list="grid">
					<?php foreach ($products as $product) : ?>
						<?php $this->renderPartial($this->getViewsDir() . "catalog/_product_card.htm", ['product' => $product]); ?>
					<?php endforeach ?>
				</div>
			<?php endif ?>

			<?php /** @var $pagination Phpr_Pagination */ ?>
			<?php if (isset($pagination)): ?>
				<div class="pagination-block">
					<?//= $pagination->format(new Phpr_PrimePaginationFormatter(), u("search_page", array()) . "%d/" . str_replace("%", "%%", $query)) ?>
				</div>
			<?php endif; ?>

		<?php else: ?>
			<div class="search-page_text-inform">
				К сожалению, по вашему запросу ничего не найдено.
			</div>
		<?php endif; ?>
	<?php else: ?>
		<div class="search-page_text-inform">
			<?= $error ?>
		</div>
	<?php endif; ?>
</div>
