// COLORS
$accent: #3b425a;
$accentHover: #526194;

$gray: #e0e0e0;
$gray2: #afafaf;
$color3: #EDEFF4;


$color: #8B2FC0;
$color_2: rgba($color, .1);
$color_3: #aa4de0;
$color_4: #afafaf;

$red: red;
$font: #373738;

// FONTS
$main: 'Rubik', sans-serif;


// OTHER
$brsSmall: 8px;
$brs: 10px;