// COLORS
//$accent: #3b425a;
$accentHover: #526194;

$gray: #e0e0e0;
$gray2: #afafaf;
$color3: #edeff4;

// $color: #8b2fc0;
// $color_2: rgba($color, 0.1);
// $color_3: #aa4de0;
// $color_4: #afafaf;

$red: red;
$font: #373738;

// FONTS
$main: 'Rubik', sans-serif;

// OTHER
$brsSmall: 8px;
$brs: 10px;

// COLORS
$color_1: #66228d;
$color_2: #6fcd04;
$color_3: #201526;
$color_4: #603b76;
$gray: #868686;
