// COLORS
$accent: #3b425a;
$accentHover: #526194;
$gray: #e0e0e0;
$gray2: #afafaf;
$font: #373738;
$gradient: linear-gradient(135deg, rgba(82,97,148,1) 0%, rgba(133,27,143,1) 100%);


// FONTS
$Ubuntu: 'Ubuntu', sans-serif;


// OTHER
$brs: 10px;