#mysqlLoggerWrapper{
	display: none;
}

*{
	margin: 0;
	color: $font;
	font-family: $Ubuntu;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	background: #f5f5f5;
	overflow-x: hidden;
}

a{
	transition: color .2s;
	text-decoration: none;
	
	&:hover{
		color: $accent;
	}
}

p{
	
}

img{
	max-width: 100%;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}

// липкий футер
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 0 auto;
}

.btn-buy{
	overflow: hidden;
	background: #000;
	transition: background .2s;

	&:hover{
		background: #526194;
	}

	&.active{
		background: #526194;

		&:hover{
			background: #000;
		}
	}

	a{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 0 10px;

		img{
			height: 24px;
		}

		span{
			color: #fff;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 1.30em;
			letter-spacing: 1px;
			margin-left: 8px;
		}
	}
}

footer{
	flex: 0 0 auto;
}

.breadcrumbs{
	//border: 1px solid red;
	margin-bottom: 20px;
	
	ul{
		display: flex;
		list-style-type: none;
		padding: 0;

		li{
			display: flex;
			align-items: center;
			font-size: 14px;

			> *, &:after{
				color: #848484;
			}

			&:not(:last-child){
				margin-right: 8px;

				&:after{
					content: ">";
					font-size: 12px;
					margin-left: 8px;
				}
			}
		}
	}
}

.heading-page{
	margin-bottom: 20px;
	>*{
		font-weight: normal;
		margin: 0;
		font-size: 34px;
	}
}

.heading-page-label{
	display: inline-block;
	padding: 10px 15px;
	border-radius: 14px;
	background: $gradient;

	p{
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.slick-dots{
	position: absolute;
	z-index: 2;
	display: flex;
	align-items: center;
	list-style-type: none;
	justify-content: center;
	padding: 0;
	width: 100%;

	li{
		&:not(:last-child){
			margin-right: 10px;
		}

		button{
			font-size: 0;
			height: 10px !important;
			width: 10px !important;
			border-radius: 50%;
			display: block;
			flex: none;
			border: none;
			padding: 0;
			cursor: pointer;
			background: #fff;
		}

		&.slick-active{
			button{
				background: $accentHover;
			}
		}
	}	
}

header{
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);

	.header-top-section, .header-bottom-section{
		.header-wrapper{
			max-width: 1170px;
			margin: 0 auto;
			padding: 0px 15px;
		}
	}

	.header-top-section{
		background: #fff;

		.header-wrapper{
			display: flex;
			align-items: center;

			.header-logo{
				height: 50px;
				margin-right: 59px;	

				a{
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					img{
						height: 36px;
						display: block;
						margin-right: 10px;
					}

					span{
						font-weight: bold;
						text-transform: uppercase;
						font-size: 14px;
					}
				}
			}

			.header-description{
				font-size: 13px;
			}

			.header-socials{
				//border: 1px solid red;
				margin-left: auto;
				width: 200px;
				display: flex;
				align-items: center;
				justify-content: center;

				a{
					margin-right: 12px;

					&:last-child{
						margin-right: 0;
					}

					img{
						height: 20px;
						display: block;
					}
				}
			}

			nav{
				margin-left: auto;
				display: flex;
				align-items: center;

				a{
					margin-left: 25px;
						
					display: flex;
					align-items: center;

					img{
						height: 18px;
						margin-right: 5px;
					}

					span{
						font-size: 15px;
					}
				}
			}
		}
	}

	// нижняя секция шапки
	.header-bottom-section{
		background: #000;
		
		.header-wrapper{
			height: 50px;
			position: relative;
			display: flex;
			align-items: center;
			padding-left: 197px;

			// каталог категорий товаров
			.menu-catalog {
				position: absolute;
				top: 0;
				left: 0;
				margin-left: 15px;

				&-btn {
					height: 50px;
					display: flex;
					align-items: center;

					img, a{
						cursor: pointer;
					}
						
					img {
						height: 14px;
						margin-right: 7px;
					}

					a {
						color: #fff;
						font-size: 13px;
					}
				}

				&:hover > .menu-catalog-categories {
					display: block;
				}

				&-categories {
					display: none;
					background: #fff;
					box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.25);
					position: relative;
					z-index: 999;
					min-width: 280px;
					padding-top: 10px;
					padding-bottom: 10px;
					border-radius: 0 0 10px 10px;

					.categories-list {
							
						.category {
							//border: 1px solid red;
							padding: 10px 20px 10px 8px;
							display: flex;
							align-items: center;
							width: calc(100% - 8px);
							margin-left: auto;
							border-radius: 10px 0 0 10px;

							&:hover {
								background: #f5f5f5;

								.categories-level-2 {
									display: flex;
								}
							}

							.icon {
								width: 30px;
								height: 30px;
								flex: none;
								margin-right: 14px;

								img {
									height: 30px;
									display: block;
								}
							}

							> div {
								.hot-categories {
									margin-top: 2px;

									a {
										font-size: 13px;
										line-height: 1em;
										color: #737373;

										&:nth-child(2) {
											margin-left: 10px;
										}
									}
								}
							}

							// дочерние категории
							.categories-level-2 {
								position: absolute;
								top: 0;
								left: 0;
								margin-left: calc(100% - 10px);
								background: #fff;
								box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.25);
								border-radius: 0px 0px 10px 10px;
								overflow: hidden;
								display: none;						

								&-list {
									padding: 20px;
									width: 260px;
									flex: none;

									&-category {
										&:not(:last-child){
											margin-bottom: 20px;
										}

										.category-level-2 {
											margin-bottom: 6px;
											display: flex;
											align-items: center;

											.icon {
												width: 24px;
												height: 24px;
												flex: none;
												margin-right: 8px;
												display: flex;
												align-items: center;
												justify-content: center;

												img {
													display: block;
													max-height: 22px;
												}
											}

											a {
												font-size: 16px;
												font-weight: bold;
											}
										}

										.categories-level-3 {
											display: flex;
											flex-direction: column;
											margin-bottom: 10px;
											margin-left: 34px;

											&:empty{
												display: none;
											}

											a {
												display: inline-block;
												font-size: 14px;

												&:not(:last-child) {
													margin-bottom: 8px;
												}
											}

											.all-categories {
												font-weight: bold;
												font-size: 13px;
												margin-top: 2px;

												span {
													margin-left: 2px;
												}
											}
										}
									}
								}

								.categories-ads {
									width: 260px;
									flex: none;

									.item {
										//border: 1px solid red;
										height: 450px;
										background: blue;

										a {
											display: block;
											height: 100%;
										}
									}
								}
							}
						}
					}
				}
			}

			.other-menu{
				margin-right: 70px;
				ul{
					list-style-type: none;
					padding-left: 0;
					display: flex;

					li{
						&:not(:last-child){
							margin-right: 10px;
						}

						a{
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 10px;
							height: 34px;

							&:hover{
								span{
									color: $gray;
								}
							}

							img{
								height: 15px;
								margin-right: 7px;
							}

							span{
								text-transform: uppercase;
								color: #fff;
								font-size: 12px;
								letter-spacing: 0.5px;
							}
						}
					}
				}
			}

			.header-search{
				display: flex;
				margin-right: 40px;

				input{
					height: 34px;
					border-radius: 6px 0 0 6px;
					border: none;
					background: #fff;
					outline: none;
					padding: 0px 10px;
					width: 360px;
					font-size: 14px;
				}

				button{
					height: 34px;
					width: 40px;
					border-radius: 0 6px 6px 0;
					padding: 0px 10px;
					border: none;
					background: #fff;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;

					img{
						height: 14px;
					}
				}
			}
			

			.mini-cart{
				margin-left: auto;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: relative;
				flex: none;

					a{
						display: flex;
						align-items: center;

						.icon{
							display: flex;
							align-items: center;
							margin-right: 13px;
							
							img{
								height: 26px;
								display: block;
							}
						}

						.count{
							background: $accentHover;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 2px 4px;
							border-radius: 4px;
							position: absolute;
							margin-top: -2px;
							margin-left: 13px;
							top: 0;
							font-size: 12px;
							color: #fff;
							line-height: 1em;
						}

						.price{
							font-size: 13px;
							color: #fff;
							letter-spacing: .2px;

							span{
								font-size: 12px;
								color: #fff;
							}
						}			
					}
				}
		}
	}
}



footer{
	border-top: 1px solid $gray;
	margin-top: 100px;
	padding: 20px;
	text-align: center;

	p{
		font-size: 12px;

		&:nth-child(1){
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 6px;
		}
	}
}

.index-top-section{
	display: flex;

	.catalog-menu{
		width: 240px;
		flex: none;
		margin-right: 20px;

		ul{
			list-style-type: none;
			padding: 0;

			li{
				//border: 1px solid red;
				border-radius: 10px;
				padding-bottom: 10px;

				&:hover{
					background: $gray;
				}

				> a{
					display: flex;
					align-items: center;
					height: 100%;
					padding: 10px 10px 8px;

					img{
						width: 16px;
						margin-right: 10px;
					}

					span{
						font-weight: 500;
						line-height: 1em;
					}
				}

				.hot-categories{
					display: flex;
					margin-left: 40px;

					a{
						font-size: 14px;
						color: #8a8989;

						&:hover{
							color: $accentHover;

							&:after{
								color: #8a8989;
							}
						}

						&:first-child{
							margin-right: 6px;
							&:after{
								content: '/';
								margin-left: 6px;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}

	.main-slider{
		overflow: hidden;
		border-radius: 20px;
		position: relative;
		width: 100%;

		.slick-prev{
			left: 0;
			margin-left: 10px;
			background-image: url(/resources/images/icons/left-arrow.svg);
		}

		.slick-next{
			right: 0;
			margin-right: 10px;
			background-image: url(/resources/images/icons/right-arrow.svg);
		}

		.slick-arrow{
			font-size: 0;
			border: none;
			height: 30px;
			width: 30px;
			background-color: #fff;
			position: absolute;
			opacity: .6;
			top: 0;
			margin-top: 115px;
			z-index: 2;
			border-radius: 10px;
			cursor: pointer;
			background-position: center;
			background-size: 50%;
			background-repeat: no-repeat;
			transition: opacity .2s;

			&:hover{
				opacity: 1;
			}
		}

		.slick-dots{
			margin-top: -20px;

			li{
				button{
					opacity: .6;
				}
			}	
		}
	}
}



.bestsellers, .new-products{
	margin-top: 60px;

	&-title{
		margin-bottom: 15px;
		font-size: 22px;
		font-weight: 500;
		line-height: 1em;
	}
}

.new-products{

	&-slider{
		.slick-slide {
		    margin: 0 10px;
		}
	
		.slick-list {
			margin: 0 -10px;
		}

		.slick-dots{
			margin-top: 18px;
		}

		.product-card{
			@include style-block;

			&-photo{
				a{
					padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					img{
						height: 120px;
					}
				}
			}

			&-info{
				.product-card-description{
					margin-bottom: 15px;
					padding: 0px 10px;
					.name{
						a{
							font-size: 14px;
						}
					}

					.short-description{
						display: none;
					}
				}

				.product-card-buy{
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-left: 10px;
					
					.price{
						p{
							font-weight: bold;
							line-height: 1em;
							font-size: 20px;

							span{
								margin-left: 4px;
								color: #000;
								font-size: 13px;
							}
						}

						.old-price{
							font-weight: normal;
							display: flex;
							align-items: center;
							color: #b5b5b5;

							font-size: 13px;
							margin-top: -14px;
							margin-left: 3px;
							position: absolute;

							&:before{
								content: '';
								width: calc(100% + 6px);
								display: block;
								height: 1px;
								background: #b5b5b5;
								position: absolute;
								left: -3px;
							}
						}
					}

					.btn-buy{
						height: 38px;
						width: 44px;
						border-radius: 14px 0px 0px 0;

						a{
							span{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// КАТАЛОГ
// главная
.catalog-categories-index-list{
	margin-top: 30px;

	.catalog-category{
		margin-bottom: 30px;

		.category-name{
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			.icon{
				height: 22px;
				width: 22px;
				display: flex;
				align-items: center;
				margin-right: 10px;
			}

			a{
				font-size: 21px;
			}
		}

		.categories-level-2{
			display: flex;
			flex-wrap: wrap;

			.category-level-2{
				width: calc(25% - 15px);
				border-radius: 14px;
				margin-bottom: 20px;
				padding: 15px;

				@include style-block;

				&:not(:nth-child(4n)){
					margin-right: 20px;
				}

				&-name{
					display: flex;
					align-items: center;
					border-bottom: 1px solid #efefef;
					padding-bottom: 10px;

					&-icon{
						height: 20px;
						width: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 10px;
					}

					a{
						font-size: 20px;
						font-weight: 500;

						&:hover{
							color: $accentHover;
						}
					}
				}

				.categories-level-3{
					display: flex;
					flex-direction: column;
					//margin-left: 36px;
					margin-top: 12px;

					a{
						font-size: 16px;

						&:hover{
							color: $accentHover;
						}

						&:not(:last-child){
							margin-bottom: 12px;
						}
					}
				}
			}
		}
	}
}


.catalog-categories{
	.breadcrumbs{
		margin-bottom: 20px;
	}

	.catalog-category-empty{
		height: calc(100vh - 400px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		img{
			height: 100px;
		}

		p{
			font-size: 32px;
			color: #959595;
		}
	}
}

.catalog-product-show{
	
	.product-wrapper{
		display: flex;
	}

	.product-info{
		width: 100%;
		padding: 15px;
		background: #fff;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
		border-radius: 4px;
		margin-right: 30px;


		&-header{
			padding-bottom: 15px;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #ececec;
			width: 100%;

			h1{
				font-size: 17px;
				margin-right: 15px;
			}

			p{
				margin: 0;
				font-size: 13px;
				color: #848484;
				white-space: nowrap;

				span{
					color: #848484;
				}
			}
		}

		&-body{
			display: flex;

			.photos{
				width: 450px;
				flex: none;
				padding-left: 34px;
				padding-right: 34px;

				.product-info-slider-for, .product-info-slider-nav{
					position: relative;	

					.slick-prev {
						background: url(/resources/images/icons/slider-arrow-left.svg);
					}

					.slick-next {
						background: url(/resources/images/icons/slider-arrow-right.svg);
					}

					.slick-arrow{
						top: 0;
						border: none;
						font-size: 0;
						cursor: pointer;
						background-size: cover;
						background-repeat: no-repeat;
						background-color: none;
						background-position: center;
						position: absolute;
						//border: 1px solid red;
					}
				}

				.product-info-slider-for{
					height: 300px;
					margin-bottom: 20px;

					.slick-prev {
						left: -34px;
					}

					.slick-next {
						right: -34px;
					}

					.slick-arrow{
						height: 32px;
						width: 22px;
						margin-top: 135px;
					}
				}

				.product-info-slider-nav{

					.slick-list{
						margin: 0 -5px;
						height: 64px;

						.slick-track{

							.slick-slide{
								height: 64px !important;
								width: 64px !important;

								border: 1px solid $gray;
								border-radius: 4px;
								display: flex;
								align-items: center;
								justify-content: center;
								cursor: pointer;
								margin: 0 5px;

								img{
									height: 56px;
									width: 56px;
									margin: 0;
								}
							}
						}
					}

					.slick-prev {
						left: -30px;
					}

					.slick-next {
						right: -30px;
					}

					.slick-arrow{
						height: 22px;
						width: 22px;
					}
				}
			}

			.details{
				padding-left: 30px;

				.description{
					p{
						font-size: 14px;
						margin-bottom: 0;
						line-height: 1.5em;
					}
				}
			}
		}	
	}

	.block-buy{
		width: 250px;
		flex: none;
		align-self: flex-start;

		.price{
			text-align: center;

			p{
				&:nth-child(1){
					font-size: 46px;
					font-weight: bold;
					margin-bottom: 2px;
					line-height: 1em;
					color: #000;
				}

				&:nth-child(2){
					text-transform: uppercase;
					font-size: 13px;
					color: #ccc;
				}
				

				span{
					margin-left: 5px;
					font-size: 16px;
					letter-spacing: 1px;
				}
			}
		}

		.promo{
			margin-top: 15px;
			margin-bottom: 5px;
				
			&-title{
				font-weight: 500;
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 1px;
			}

			&-list{
				margin-top: 6px;
				text-align: center;
					
				a{
					font-size: 12px;
					display: inline-block;
					line-height: 1.5em;
					border-bottom: 1px dashed;
					margin-bottom: 7px;
				}
			}
		}

		form{
			.btn-buy{
				border-radius: 10px;
				width: 204px;
				height: 40px;
				margin: 20px auto 0;

				a{
					img{
						height: 22px;
					}

					span{
						font-size: 12px;
					}
				}
			}
		}
	}
}


// СПИСОК ТОВАРОВ
.list-products{
	display: flex;
	flex-wrap: wrap;

	// ДИЗАЙН КАРТОЧКИ ТОВАРА ПРИ ОТОБРАЖЕНИИ В ВИДЕ СЕТКИ
	&[data-view-list="grid"]{

		.product-card {
			width: calc(25% - 15px);
			position: relative;
			transition: box-shadow .2s;
			@include style-block;

			&:hover{
				box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
			}

			&:not(:last-child){
				margin-right: 20px;
			}
			
			&-photo{
				height: 180px;
				flex: none;
				
				a{
					padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;	

					img{
						height: 160px;
						width: 160px;
						display: block;
					}	
				}
			}
			
			&-info{
				margin-top: 2px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: calc(100% - 195px);

				.product-card-description{
					padding: 0px 15px;

					.name{
						height: 54px;
						overflow: hidden;

						a{
							font-size: 14px;
							line-height: 1.2em;
							&:hover{
								color: #526194;
							}
						}
					}

					.short-description{
						display: none;
					}
				}

				.product-card-buy{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 10px;
					padding-top: 10px;
					padding-left: 15px;

					.price{
						p{
							font-weight: bold;
							line-height: 1em;
							font-size: 20px;

							span{
								margin-left: 4px;
								color: #000;
								font-size: 13px;
							}
						}

						.old-price{
							font-weight: normal;
							display: flex;
							align-items: center;
							color: #b5b5b5;

							font-size: 15px;
							margin-top: -16px;
							margin-left: 3px;
							position: absolute;

							&:before{
								content: '';
								width: calc(100% + 6px);
								display: block;
								height: 1px;
								background: #b5b5b5;
								position: absolute;
								left: -3px;
							}
						}
					}

					.btn-buy{
						height: 38px;
						width: 124px;
						border-radius: 14px 0px 0px 0;

						a{
							img{
								height: 24px;
							}
						}
					}
				}
			}
		}
	}

	// ДИЗАЙН КАРТОЧКИ ТОВАРА ПРИ ОТОБРАЖЕНИИ В ВИДЕ СПИСКА

	&[data-view-list="list"]{
		.product-card {
			width: 100%;
			display: flex;
			padding: 15px;
			margin-bottom: 15px;

			position: relative;
			transition: box-shadow .2s;
			@include style-block;

			&:hover{
				box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
			}

			&-photo{
				height: 120px;
				width: 120px;
				flex: none;
			}

			&-info{
				width: 100%;
				display: flex;

				//border: 1px solid red;

				.product-card-description{
					width: 100%;
					margin-left: 20px;
					margin-right: 40px;

					.name{			
						margin-bottom: 2px;
						margin-top: -7px;

						a{
							font-size: 20px;
							line-height: 1.35em;
						}
					}

					.short-description{
						> *{
							color: #777;
							font-size: 15px;
							line-height: 1.5em;
						}
					}
				}

				.product-card-buy{
					width: 122px;
					flex: none;
					display: flex;
					align-items: center;
					justify-content: flex-end;

					.price{
						margin-top: -20px;

						p{
							font-weight: bold;
							line-height: 1em;
							font-size: 28px;

							span{
								margin-left: 4px;
								color: #000;
								font-size: 14px;
							}
						}

						.old-price{
							font-weight: normal;
							display: flex;
							align-items: center;
							color: #b5b5b5;

							font-size: 17px;
							margin-top: -18px;
							margin-left: 3px;
							position: absolute;

							&:before{
								content: '';
								width: calc(100% + 6px);
								display: block;
								height: 1px;
								background: #b5b5b5;
								position: absolute;
								left: -3px;
							}
						}
					}

					.btn-buy{
						height: 42px;
						width: 136px;
						border-radius: 14px 0px 0px 0;
						position: absolute;
						bottom: 0;
						right: 0;

						a{
							padding: 0 12px;

							img{
								height: 26px;
							}

							span{
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}

.cart{
	.cart-wrapper{
		display: flex;

		.cart-list-products{
			@include style-block;
			width: 75%;
			flex: none;
			align-self: flex-start;

			form{
				.cart-list-products-item{
					display: flex;
					padding: 20px;

					&:not(:last-child){
						border-bottom: 1px solid #ececec;
					}
					

					.photo{
						width: 70px;
						height: 70px;
						margin-right: 30px;
						border-radius: 10px;
						overflow: hidden;
						a{
							img{
								max-width: 100%;
								max-height: 100%;
							}
						}
					}

					.name{
						width: 350px;
						margin-right: 30px;
						//border: 1px solid red;

						a{
							font-size: 16px;
							line-height: 1.35em;
						}

						p{
							font-size: 13px;
							margin-top: 7px;
							color: #808080;
							span{
								color: #808080;
							}
						}
					}

					.count{
						width: 120px;
						//border: 1px solid red;
						margin-right: 30px;
						display: flex;

						button, input{
							outline: none;
							border: 1px solid $gray;
						}

						button{
							height: 30px;
							width: 30px;
							font-size: 19px;
							color: $gray;
							background: none;
							cursor: pointer;

							&.btn-quantity-minus{
								border-right: none;
								border-radius: 6px 0 0 6px;
							}

							&.btn-quantity-plus{
								border-left: none;
								border-radius: 0 6px 6px 0;
							}
						}

						input{
							width: 30px;
							height: 30px;
							-moz-appearance: textfield;
							text-align: center;
							border-right: none;
							border-left: none;
							font-size: 14px;
						}

						input::-webkit-outer-spin-button,
						input::-webkit-inner-spin-button {
							appearance: none;
							margin: 0;
						}
					}

					.price{
						//border: 1px solid red;

						.price-tovar{
							font-size: 20px;
							font-weight: bold;
							margin-bottom: 5px;
							line-height: 1em;
						}

						.summa{
							font-size: 14px;
							color: #808080;
							line-height: 1em;

							span{
								color: #808080;
							}
						}
						
					}

					.del{
						margin-left: auto;
						cursor: pointer;
						margin-top: -10px;
						margin-right: -10px;
						height: 30px;
						width: 30px;
						border-radius: 8px;
						transition: background .2s;

						&:hover{
							background: rgba($accentHover, .2);
						}
						

						a{
							display: flex;
							align-items: center;
							justify-content: center;
							height: 100%;
							img{
								height: 16px;
							}
						}
						
					}
				}
			}

		}

		.shop-checkout{
			margin-left: 30px;
			@include style-block;
			padding: 15px 15px 0;

			form{

				.total-price-section{
					border-top: 1px solid $gray;
					margin-top: 15px;
					padding-top: 15px;

					&-title{
						margin-bottom: 8px;
						text-transform: uppercase;
						font-size: 14px;
						font-weight: bold;
					}

					.devivery-price, .total-price{
						font-size: 14px;
						display: flex;
						justify-content: space-between;
					}

					.devivery-price{
						margin-bottom: 7px;
					}

					.total-price{
						font-weight: bold;
					}
				}

				.bnt-order-buy{
					background: #000;
					height: 40px;
					margin: 20px -15px 0;
					transition: background .2s;

					&:hover{
						background: $accentHover;
					}

					a{
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;
						font-size: 14px;
					}
				}
			}
		}
	}
}

form{
	//width: 100%;

	.form-section{
		margin-bottom: 10px;

		label{
			font-size: 14px;
			margin-bottom: 5px;
			display: block;
		}

		input[type='text'], input[type='tel'], input[type='email'], select, textarea{
			width: 100%;
			border-radius: 4px;
			border-radius: 6px;
			border: 1px solid $gray;
			padding: 10px;
			outline: none;
			background: #fff;
			transition: border-color .2s;

			&:hover, &:focus{
				border-color: rgba($accentHover, .6);
			}

			&::placeholder {
				color: #777;
			}
		}

		input, select{
			height: 34px;
		}

		textarea{
			height: 60px;
			min-height: 50px;
			resize: vertical;
		}

		.form-item-radio{
			label{
				display: flex;
				cursor: pointer;

				input{
					margin-top: 1px;
					margin-right: 8px;

					border: 1px solid #bebdbd;
					width: 14px;
					height: 14px;

					flex: none;
					border-radius: 50%;

					appearance: none;
					outline: none;
					cursor: pointer;

					&:before{
						content: "";
						display: block;
						height: 10px;
						width: 10px;
						border-radius: 50%;
						margin-top: 1px;
						margin-left: 1px;
					}

					&:checked{
						&:before{
							background: $accent;
						}
					}
				}

				span{
					font-size: 14px;
					line-height: 1.35em;
				}
			}

			&-description{
				font-size: 13px;
				border-radius: 6px;
				padding: 6px 10px;
				background: #efefef;
				line-height: 1.4em;
				margin-left: 22px;
			}
		}
	}
}

// checkbox
.checkbox{
	label{
		display: flex;
		cursor: pointer;

		input{
			margin-top: 1px;
			margin-right: 8px;

			border: 1px solid #bebdbd;
			width: 16px;
			height: 16px;

			flex: none;
			border-radius: 4px;

			appearance: none;
			outline: none;
			cursor: pointer;
			transition: border-color .2s;

			&:before{
				content: "";
				display: block;
				height: 12px;
				width: 12px;
				border-radius: 4px;
				margin-top: 1px;
				margin-left: 1px;
			}

			&:checked{
				background: $accent;
				border-color: $accent;
				&:before{

					background: url(/resources/images/icons/check-white.svg) no-repeat;
					background-size: 70%;
					background-position: center left 2px;
				}
			}
		}

		span{
			font-size: 14px;
			line-height: 1.35em;
		}
	}

	&:hover{
		label{
			input{
				border-color: $accent;
			}
		}					
	}
}




.catalog-category{
	
	&-wrapper{
		display: flex;
		//border: 1px solid red;

		.catalog-filter-list{
			width: 250px;
			margin-right: 20px;
			padding-top: 10px;
			flex: none;
			@include style-block;

			.filter{

				&.active{
					.filter-head{
						background: #e7ebf9;
						&:after{
							transform: rotate(180deg);
						}
					}

					.filter-list{
						display: block;
					}
				}


				&:not(:last-child){
					margin-bottom: 5px;
				}

				&-head{
					display: flex;
					align-items: center;
					cursor: pointer;
					padding: 8px 15px;
					transition: background .2s;
					font-weight: 500;
					user-select: none;

					&:hover{
						background: #e7ebf9;
					}

					&:after{
						content: '';
						display: block;
						height: 16px;
						width: 16px;
						background: url(/resources/images/icons/arrow-bottom-black.svg) no-repeat;
						background-size: 70%;
						background-position: center;
						margin-left: auto;
						transition: transform .2s;
					}
				}

				&-list{
					padding: 8px 15px;
					display: none;

					// список чекбоксов
					.checbox-list{
						.checkbox{
							&:not(:last-child){
								margin-bottom: 10px;
							}

							label{
								user-select: none;
							}
						}
					}
				}

				&-clear{
					display: none;
					width: 74px;
					font-size: 13px;
					margin-left: auto;
					cursor: pointer;
					padding: 4px 0;
					border-radius: 4px;
					background: #f1f1f1;
					text-align: center;

					&:hover{
						background: #e7ebf9;
					}
				}
			}
		}

		.catalog-category-list-wrapper{
			width: 100%;

			.catalog-category-list-sorting{
				height: 50px;
				@include style-block;
				padding: 0px 15px;
				display: flex;
				align-items: center;

				.sorting-product-list{
					display: flex;
					font-size: 14px;

					&-title{
						margin-right: 10px;
						color: #888;
					}

					&-items{
						display: flex;

						.item{
							cursor: pointer;
							color: #5d5d5d;

							&:hover, &.active{
								a{
									color: $accentHover;
								}
							}

							&:not(:last-child){
								margin-right: 15px;
							}
						}
					}
				}

				.view-product-list{
					margin-left: auto;
					display: flex;

					.item{
						height: 26px;
						width: 26px;
						cursor: pointer;
						display: flex;
						align-items: center;
						justify-content: center;
						user-select: none;

						&:hover, &.active{
							img{
								opacity: .7;
							}
						}

						img{
							opacity: .3;
							transition: opacity .2s;
							height: 18px;
						}

						&:not(:last-child){
							margin-right: 5px;
						}
					}
				}
			}

			.list-products{
				//border: 1px solid red;
				
				&[data-view-list="grid"]{
					.product-card{
						width: calc(100% / 4 - 15px);
						margin-top: 25px;

						&:nth-child(4n){
							margin-right: 0;
						}

						&-info{
							.product-card-buy{
								.btn-buy{
									width: 100%;
									span{
										display: none;
									}
								}
							}
						}
					}
				}

				&[data-view-list="list"]{
					margin-top: 25px;
				}
			}

			.catalog-category-empty{
				height: calc(100vh - 400px);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				
				img{
					height: 100px;
				}

				p{
					font-size: 32px;
					color: #959595;
				}
			}
		}
	}
}











