@import 'fonts';
@import 'mixins';

// color
$color: #35769d;
$color2: #333c46;
$color3: #0c3441;
$color4: #ed850b;

// other
$brs: 0.8rem;

// fonst
$font: 'Rubik', sans-serif;

#mysqlLoggerWrapper {
	display: none;
}

* {
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	font-size: 1.8rem;
	font-family: $font;
	font-weight: normal;
}

a {
	text-decoration: none;
}

html,
body {
	height: 100%;
	min-height: 100vh;
}

html {
	font-size: calc(100vw / 1300 * 10);

	@media screen and (max-width: 767px) {
		font-size: calc(100vw / 390 * 10);
	}
}

body {
	overflow-x: hidden;
	background: $color2;
}

.hidden {
	display: none !important;
}

.container {
	//border: 1px solid red;
	width: 85%;
	padding: 0rem 2rem;
	margin: 0 auto;
}

.heading {
	font-size: 3rem;
	margin-bottom: 2rem;
	font-weight: 500;

	&--small {
		font-size: 2rem;
		font-weight: 500;
	}
}

header {
	//border: 1px solid red;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 7rem;
	padding: 0rem 2rem;

	.header-phone {
		font-size: 2.6rem;
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
	margin-top: 6rem;
	padding-bottom: 1.5rem;

	span {
		&:nth-child(1) {
			font-size: 1.6rem;
			font-weight: 500;
		}

		&:nth-child(2) {
			font-size: 1.2rem;
		}
	}
}

.video {
	//border: 1px solid red;
	height: calc(100vh - 7rem);
	position: relative;
	background: #083584;

	&:before {
		content: '';
		display: block;
		position: absolute;
		background: rgba(#000000, 0.3);
		top: 0;
		width: 100%;
		height: 100%;
	}

	&-text {
		position: absolute;
		width: 40%;
		font-weight: bold;
		border: 1px solid red;
		margin-top: 20rem;
		margin-left: 10rem;

		z-index: 1;

		a {
			font-size: 3rem;
		}
	}

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.main-text {
	width: 70%;
	margin: 5rem auto;
	font-size: 5rem;
	font-weight: bold;
	line-height: 1.1em;
	text-align: center;
}

.brands {
	margin-top: 6rem;

	&_slider {
		margin-top: 2.2rem;

		.item {
			display: flex;
			align-items: flex-end;
			justify-content: center;

			img {
				height: 5rem;
				max-width: 100%;
			}
		}
	}
}

.service-catalog-wrapper {
	//border: 1px solid red;
	margin-top: 2rem;
	padding-top: 4rem;
	display: flex;
	align-items: start;
	column-gap: 3rem;
}

.service-catalog {
	width: 55%;
	flex: none;

	//background: $color;
	background: linear-gradient(
		to bottom,
		rgb(182, 226, 252) 0%,
		rgb(16, 102, 160) 100%
	);

	background: #493894;
	border-radius: 2rem;
	padding: 2.5rem 3rem 0;
	overflow: hidden;

	&_header {
		* {
			color: $color3;
			color: #fff;
		}

		h2 {
			font-size: 3.5rem;
			font-weight: 500;
		}

		p {
			margin-top: 0.5rem;
			font-size: 1.6rem;
			line-height: 1.4em;
		}
	}

	&_body {
		margin-top: 2rem;
		margin-bottom: 3rem;

		.categories {
			display: flex;
			column-gap: 1rem;

			.item {
				border-radius: 2rem;
				height: 4rem;

				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0rem 2rem;
				user-select: none;
				cursor: pointer;

				background: #fff;
				color: $color3;
				color: #493894;

				font-size: 1.5rem;
				box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

				&.active {
					box-shadow: none;
					background: $color4;
					color: #fff;
				}
			}
		}

		.add-device-informer {
			margin-top: 2rem;

			p {
				font-weight: 500;
				font-size: 2rem;
				line-height: 1.4em;
			}
		}

		.list-services-wrapper {
			.list-services {
				margin-top: 2rem;
				display: none;

				&.active {
					display: block;
				}

				.service {
					display: flex;
					flex-wrap: wrap;

					&:not(:last-child) {
						margin-bottom: 1.4rem;
					}

					&_name {
						font-size: 1.8rem;
						width: 100%;
						margin-bottom: 0.7rem;
					}

					select {
						height: 4rem;
						width: 100%;
						border: none;
						padding: 0rem 1rem;
						color: #000;
						font-size: 1.6rem;
						border-radius: $brs;

						&.active {
							width: calc(100% - 5rem);
							+ .service_btn-del {
								display: flex;
							}
						}
					}

					&_btn-del {
						background: $color4;
						font-size: 1.8rem;
						height: 4rem;
						width: 4rem;
						margin-left: 1rem;
						display: none;
						align-items: center;
						justify-content: center;
						flex: none;
					}
				}
			}
		}
	}

	&_footer {
		background: $color3;
		background: #2d3233;
		margin: 0 -4rem;
		padding: 2rem 4rem 3rem;

		.user-devices {
			&_body {
				margin-top: 1rem;

				.user-devices_list,
				.user-devices_add {
					display: flex;
					column-gap: 1rem;
				}

				select,
				input {
					height: 4rem;
				}

				button {
					flex: none;
					background: $color4;
					font-size: 1.8rem;
					height: 4rem;
					width: 4rem;
				}

				.user-devices_list {
					width: 100%;
					margin-bottom: 2rem;
				}
			}
		}
	}
}

form {
}

input,
select,
textarea {
	width: 100%;
	height: 4rem;
	border: none;
	background: #f4f4f4;
	border-radius: $brs;
	padding: 0 1rem;
	border: 0.1rem solid #e7e7e7;
	font-size: 1.4rem;
	color: #000;
	appearance: none;

	&::placeholder {
		font-size: 1.4rem;
	}
}

select {
	background-image: url(/resources/protection/img/icons/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: center right 1rem;
	background-size: 1.6rem;
}

textarea {
	padding: 1rem;
	min-height: 6rem;
	resize: vertical;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

fieldset {
	padding: 0;
	border: none;
}

button {
	height: 4rem;
	border-radius: $brs;
	border: none;
	font-size: 1.4rem;
	cursor: pointer;
}

.cart {
	position: sticky;
	top: 1rem;
	width: 100%;
	border-radius: 2rem;
	background: #fff;
	padding: 2.5rem 3rem;

	* {
		color: $color2;
	}

	&_header {
		h2 {
			//text-align: center;
			font-size: 3rem;
			font-weight: 500;
		}
	}

	&_services {
		//border: 1px solid red;
		margin-top: 2rem;

		&-list-devices {
			&:empty {
				&:before {
					content: 'Вы не добавили ни одной услуги, надеемся Вы исправите данное недоразумение 🧐';
					font-size: 1.6rem;
				}

				+ .cart_services-total-price {
					display: none;
				}
			}
			.device {
				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}

				&-header {
					display: flex;
					column-gap: 0.5rem;
					//justify-content: space-between;
				}

				&-name {
					font-size: 1.5rem;
					font-weight: 500;
				}

				&-btn-del {
					//border: 1px solid red;
					height: 1.8rem;
					width: 1.8rem;
					flex: none;
					cursor: pointer;
					background-image: url(/resources/protection/img/icons/trash.svg);
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}

				&-services {
					margin-top: 0.7rem;

					.service {
						display: flex;
						align-items: center;
						column-gap: 1.5rem;
						background: #ebebeb;
						padding: 0.7rem 1rem;
						border-radius: $brs;

						&:not(:last-child) {
							margin-bottom: 0.5rem;
						}

						&-name {
							span {
								display: block;

								&:nth-child(1) {
									font-size: 1.4rem;
									font-weight: 500;
								}

								&:nth-child(2) {
									margin-top: 0.1rem;
									font-size: 1.3rem;
								}
							}
						}

						&-price {
							margin-left: 0.5rem;
							font-size: 1.4rem;
							width: 8rem;
							text-align: right;
							margin-left: auto;
						}

						&-btn-del {
							height: 2rem;
							width: 2rem;
							flex: none;
							cursor: pointer;
							background-image: url(/resources/protection/img/icons/trash.svg);
							background-repeat: no-repeat;
							background-size: 100%;
							background-position: center;
						}
					}
				}
			}
		}

		&-total-price {
			margin-top: 2rem;
			font-size: 2rem;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;

			span {
				font-size: 2rem;
				font-weight: bold;
			}
		}
	}

	&_form-order {
		margin-top: 2rem;

		form {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;

			fieldset {
				width: calc(50% - 0.5rem);
			}

			input {
				//width: 100%;
			}

			label {
				display: none;
			}

			button {
				background: $color4;
				color: #fff;
				width: 100%;
			}
		}
	}
}

.contacts {
	margin-top: 6rem;

	iframe {
		width: 100%;
		height: 50rem;

		border-radius: $brs;
	}
}

.guarantee {
	margin-top: 6rem;
}
