<div class="product-price <?= $product->old_price ? 'sale' : '' ?>">
    <div class="product-price_actual">
        <?php $actualPrice = isset($selected_sku) && $selected_sku->price ? $selected_sku->price : $product->price; ?>
        <?= Phpr::$lang->num($actualPrice) ?>
    </div>

    <?php if ($product->old_price) : ?>
        <div class="product-price_old">
            <div class="summ"><?= Phpr::$lang->num($product->old_price) ?></div>
            <div class="text">скидка <?= Phpr::$lang->num($product->old_price - $actualPrice) ?></div>
        </div>
    <?php endif; ?>
</div>