<? Phpr_View::beginBlock("head") ?>

<?php
$seo_title = "Товары со скидкой | Большой выбор, низкие цены, доставка по г. Южно-Сахалинск | БЛЭКБОКС";
$seo_description = "Каталог товаров со скидкой. Каждую неделю новые скидки | БЛЭКБОКС | Южно-Сахалинск | Магазин электроники и аксессуаров для 📱 гаджетов, 🖥 компьютеров, 🚘 автомобилей, 🏠 дома";
?>

<title><?= $seo_title ?></title>
<meta name="description" content="<?= $seo_description ?>">
<meta name="keywords" content="товары по скидке, скидка, каталог блэкбокс, интернет магазин электроники, блэкбокс южно-сахалинск, бб65, blackbox, аксуссуары для смартфонов, аксессуары для компьютеров, автоаксессуары">

<meta property="og:title" content="<?= $seo_title ?>" />
<meta property="og:description" content="<?= $seo_description ?>" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="<?= Phpr::$request->getRootUrl() ?><?= Phpr::$request->getCurrentUri() ?>" />
<meta name="twitter:title" content="<?= $seo_title ?>" />
<meta name="twitter:description" content="<?= $seo_description ?>" />

<link href="https://bb65.ru/sale/" rel="canonical">

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Товары со скидкой",
			"item": "https://bb65.ru/sale/"
		}]
	}
</script>
<? Phpr_View::endBlock(true) ?>

<div class="container sale">
	<div class="heading-page">
		<h1>Товары со скидкой</h1>
	</div>

	<div class="catalog-products_wrapper">
		<?php if (isset($products) && count($products)) : ?>
			<div class="catalog-products_list">
				<?php
				$viewModeProductsList = isset($_COOKIE['viewModeProductsList']) ? $_COOKIE['viewModeProductsList'] : "grid";
				$this->renderPartial($this->getViewsDir() . 'catalog/_sorting.htm', ['viewModeProductsList' => $viewModeProductsList, 'url' => 'sale']);
				?>

				<div class="wrapper-products wrapper-products--default lg-5 md-4 sm-2" data-view-list='<?= $viewModeProductsList ?>'>
					<?php foreach ($products as $product) : ?>
						<?php $this->renderPartial($this->getViewsDir() . "catalog/_product_card.htm", ['product' => $product]); ?>
					<?php endforeach; ?>
				</div>
			</div>
		<?php else : ?>
			<div class="catalog-no-products">
				<div class="catalog-no-products_text">Сейчас товаров со скидкой нет, потому что мы готовим новый крутой список!</div>
				<div class="catalog-no-products_btn">
					<a href="/catalog/">Посмотреть другие крутые товары</a>
				</div>
			</div>
		<?php endif; ?>
	</div>
</div>