// КАТАЛОГ

// кнопка добавить в корзину
.btn-buy{
	overflow: hidden;
	a{
		width: 40px;
		height: 40px;
		display: block;
		background-color: #e9e9e9;

		background-image: url('/resources/images/icons/black-box.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px;

		transition: background .2s;
	}

	&:hover{
		a{
			background-color: #526194;
			background-image: url('/resources/images/icons/white-box.svg');
		}
	}
}

// главная страница
.catalog-categories-index{
	&_title{
		font-weight: 600;
		font-size: 40px;
		margin-bottom: 16px;
		color: #c7c7c7;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

// список категорий
.catalog-categories{

	&-title{
		font-weight: 600;
		font-size: 40px;
		margin-bottom: 16px;
		color: #c7c7c7;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&-list{
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;
	}
}

// карточка категории с подкатегориями
.item-catalog-category-multi{
	margin-bottom: 30px;
	width: 100%;
	flex: none;

	.category_name{
		margin-bottom: 12px;

		a{
			font-size: 20px;
			text-transform: uppercase;
			color: #646464;
			letter-spacing: 1px;

			&:hover{
				color: $accentHover;
			}
		}
	}

	.category_list-level-2{
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;

		.item-level-2{
			@include style-block;
			width: calc(25% - 15px);
			border-radius: 14px;
			margin-bottom: 20px;
			padding: 15px;

			&_name{
				display: flex;
				align-items: center;

				.item-level-2_icon{
					height: 20px;
					width: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 10px;

					img{
						height: 20px;
					}
				}

				a{
					font-size: 20px;
					font-weight: 500;

					&:hover{
						color: $accentHover;
					}
				}
			}

			.categories-level-3{
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #efefef;

				a{
					display: block;
					font-size: 15px;

					&:not(:last-child){
						margin-bottom: 11px;
					}

					&:hover{
						color: $accentHover;
					}
				}
			}
		}
	}
}

// карточка категории
.item-catalog-category-single{
	@include style-block;
	width: calc(25% - 15px);
	border-radius: 14px;
	margin-bottom: 20px;
	flex: none;

	a{
		padding: 20px 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		height: 10 0%;

		&:hover{
			span{
				color: $accentHover;
			}
		}

		img{
			display: block;
			height: 150px;
			margin: 0 auto 15px;
		}

		span{
			font-size: 18px;
			font-weight: 500;
			transition: color .2s;
		}
	}
}




// список товаров
.catalog-products{

	&_wrapper{
		display: flex;
		column-gap: 20px;

		.catalog-products_list{
			width: 100%;

			.product-card{
				margin-top: 20px;
			}
		}
	}
}

// сортировка товаров
.catalog-products-sorting{
	@include style-block;
	height: 50px;
	padding: 0px 15px;
	display: flex;
	align-items: center;


	.sorting-mode{
		display: flex;
		font-size: 14px;

		&_title{
			margin-right: 10px;
			color: #888;
		}

		&_list{
			display: flex;
			column-gap: 15px;

			.item{
				a{
					color: #5d5d5d;
				}

				&:hover, &.active{
					a{
						color: $accentHover;
					}
				}
			}
		}
	}

	.view-mode{
		margin-left: auto;
		display: flex;
		column-gap: 5px;

		.item{
			height: 26px;
			width: 26px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			user-select: none;

			&:hover, &.active{
				img{
					opacity: .7;
				}
			}

			img{
				opacity: .3;
				transition: opacity .2s;
				height: 18px;
			}
		}
	}
}


// фильтр
.catalog-filters-wrapper{
	width: 250px;
}
// .catalog-filters-wrapper{
//      width: 250px;
//      margin-right: 20px;
//      padding-top: 10px;
//      padding-bottom: 25px;
//      flex: none;
//      @include style-block;

//      .active-filters{
//        display: none;
//        padding: 0px 15px;

//        &.active{
//          display: block;
//        }

//        .btn-reset{
//          font-size: 12px;
//          border-radius: 8px;
//          background: #000;
//          color: #fff;
//          border: none;
//          padding: 7px 10px;
//          margin-bottom: 10px; 
//          cursor: pointer;
//        }

//        &-list{
//          display: flex;
//          flex-wrap: wrap;

//          .item{
//            border: 1px solid #e2e2e2;
//            border-radius: 8px;
//            padding: 5px 16px 5px 6px;
//            margin-bottom: 10px;
//            font-size: 12px;
//            background-color: #f7f7f7;
//            background-image: url(/resources/images/icons/close.svg);
//            background-repeat: no-repeat;
//            background-size: 6px;
//            background-position: center right 4px;

//            &:hover{
//              cursor: pointer;
//            }

//            &:not(:last-child){
//              margin-right: 10px;
//            }
//          }
//        }
//      }

//      .filters-list{
//        .filter{

//          &.active{
//            .filter-head{
//              &:after{
//                transform: rotate(180deg);
//              }
//            }

//            .filter-list{
//              display: block;
//            }
//          }


//          &:not(:last-child){
//            margin-bottom: 5px;
//          }

//          &-head{
//            display: flex;
//            align-items: center;
//            cursor: pointer;
//            padding: 8px 15px;
//            transition: background .2s;
//            font-weight: 500;
//            user-select: none;

//            &:after{
//              content: '';
//              display: block;
//              height: 16px;
//              width: 16px;
//              background: url(/resources/images/icons/arrow-bottom-black.svg) no-repeat;
//              background-size: 70%;
//              background-position: center;
//              margin-left: auto;
//              transition: transform .2s;
//            }
//          }

//          &-list{
//            padding: 8px 15px;
//            display: none;

//            // список чекбоксов
//            .checbox-list{
//              .checkbox{
//                &:not(:last-child){
//                  margin-bottom: 10px;
//                }

//                label{
//                  user-select: none;
//                }
//              }
//            }
//          }

//          &-clear{
//            display: none;
//            width: 74px;
//            font-size: 13px;
//            margin-left: auto;
//            cursor: pointer;
//            padding: 4px 0;
//            border-radius: 4px;
//            background: #f1f1f1;
//            text-align: center;
//            margin-right: 10px;

//            &.active{
//              display: block;
//            }

//            &:hover{
//              background: #e7ebf9;
//            }
//          }
//        }
//      }

//      .filters-btns{
//        margin-top: 30px;

//        > *{
//          height: 40px;
//          width: 80%;
//          border-radius: 10px;
//          margin: 0 auto;
//          display: block;
//          font-size: 12px;
//          border: none;
//          cursor: pointer;
//          background: #EFEFEF;
//          text-transform: uppercase;
//          letter-spacing: 1px;
//          transition: background .3s, color .3s;
//        }

//        .btn-submit{
//          margin-bottom: 15px;
//          background: $accent;
//          color: #fff;
//          &:hover{
//            background: $accentHover;
//          }
//        }

//        .btn-reset{
//          &:hover{
//            background: $accentHover;
//            color: #fff;
//          }
//        }
//      }
//    }


// список товаров
.list-products{

	&[data-view-list="grid"]{
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;

		@include screen_lg_up{
			&.lg-5{
				.product-card{
					width: calc(100% / 5 - 16px);
				}
			}
			
			&.lg-4{
				.product-card{
					width: calc(100% / 4 - 15px);
				}
			}
		}

		@include screen_md{
			&.md-4{
				.product-card{
					width: calc(100% / 4 - 15px);
				}
			}
				
			&.md-3{
				.product-card{
					width: calc(100% / 3 - 14px);
				}
			}
		}

		@include screen_sm_down{
			column-gap: 10px;

			&.sm-2{
				.product-card{
					width: calc(50% - 5px);
				}
			}	
		}
	}
}

.list-products, .list-products-slider{
	
	// ДИЗАЙН КАРТОЧКИ ТОВАРА ПРИ ОТОБРАЖЕНИИ В ВИДЕ СЕТКИ
	&[data-view-list="grid"]{

		.product-card {
			position: relative;
			transition: box-shadow .2s;
			@include style-block;

			&:hover{
				box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
			}

			&_photo{
				margin-bottom: 5px;
				flex: none;
				//border: 1px solid red;

				a{
					height: 180px;
					overflow: hidden;

					display: flex;
					align-items: center;
					justify-content: center;
				}

				&--normal{
					a{
						padding: 10px;

						img{
							max-height: 100%;
						}
					}
				}

				&--regular{
					a{
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}

			&_info{
				margin-top: 2px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: calc(100% - 195px);

				&-description{
					padding: 0px 15px;

					.name{
						height: 54px;
						overflow: hidden;
						//border: 1px solid red;

						a{
							font-size: 14px;
							line-height: 1.2em;
							&:hover{
								color: #526194;
							}
						}
					}

					.short-description{
						display: none;
					}
				}

				&-buy{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 12px;
					padding-left: 15px;
		  			//border: 1px solid red;

		  			.price{
						//border: 1px solid red;

						&-old{
							font-weight: normal;
							display: flex;
							align-items: center;
							color: #b5b5b5;

							font-size: 15px;
							margin-top: -17px;
							margin-left: 3px;
							position: absolute;

							&:before{
								content: '';
								width: calc(100% + 6px);
								display: block;
								height: 1px;
								background: #b5b5b5;
								position: absolute;
								left: -3px;
							}
						}

						&-actual{
							font-weight: bold;
							line-height: 1em;
							font-size: 20px;
						}
					}

					.btn-buy{
						border-radius: 14px;
						margin-bottom: 4px;
						margin-right: 4px;
					}
				}
			}
		}
	}

  	// ДИЗАЙН КАРТОЧКИ ТОВАРА ПРИ ОТОБРАЖЕНИИ В ВИДЕ СПИСКА

  	&[data-view-list="list"]{

	  	.product-card {
	  		height: 120px;
	  		width: 100%;
	  		display: flex;
	  		position: relative;
	  		@include style-block;

	  		&:hover{
	  			box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
	  		}

	  		&_photo{
	  			flex: none;
	  			height: 120px;
	  			width: 120px;

	  			a{
	  				overflow: hidden;
	  				display: flex;
	  				align-items: center;
	  				justify-content: center;
	  			}

	  			&--normal{
	  				a{
	  					padding: 5px;
	  				}
	  			}
	  		}

	  		&_info{
	  			width: 100%;
	  			display: flex;


	  			&-description{
	  				width: 100%;
	  				padding: 15px 0 15px 15px;

	  				.name{      
	  					margin-bottom: 2px;
	  					margin-top: -7px;

	  					a{
	  						font-size: 18px;
	  						line-height: 1.35em;
	  					}
	  				}

	  				.short-description{
	  					> *{
	  						color: #777;
	  						font-size: 15px;
	  						line-height: 1.5em;
	  					}
	  				}
	  			}

	  			&-buy{
	  				width: 130px;
	  				margin-left: 20px;
	  				flex: none;
	  				display: flex;
	  				align-items: center;
	  				justify-content: space-between;

	  				.price{
	  					display: flex;

	  					&-old{
	  						display: flex;
	  						align-items: center;
	  						color: #b5b5b5;

	  						font-size: 15px;
	  						margin-top: -16px;
	  						margin-left: 3px;
	  						position: absolute;

	  						&:before{
	  							content: '';
	  							width: calc(100% + 6px);
	  							display: block;
	  							height: 1px;
	  							background: #b5b5b5;
	  							position: absolute;
	  							left: -3px;
	  						}
	  					}

	  					&-actual{
	  						color: #000;
	  						font-size: 24px;
	  						font-weight: bold;
	  					}
	  				}

	  				form{
	  					height: 100%;
	  					padding: 4px;

	  					.btn-buy{
	  						height: 100%; 
	  						border-radius: 14px;  
	  						a{
	  							height: 100%;
	  						}
	  					}
	  				}
	  			}
			}
		}
	}
}

// страница просмотра товара
.catalog-product{

	&_name{
		margin-bottom: 12px;

		h1{
			font-size: 32px;
		}
	}

	&_wrapper{
		display: flex;
		column-gap: 20px;
	}

	&_details{
		@include style-block;
		width: 100%;
		padding: 20px 20px 15px 5px;
		display: flex;
		column-gap: 20px;

		.catalog-product-slider{
			//border: 1px solid red;
			width: 450px;
			height: 385px;
			flex: none;
			position: relative;

			.button-prev, .button-next{
				position: absolute;
				//border: 1px solid red;
				height: 30px;
				width: 30px;
				top: 0;
				margin-top: 145px;
				z-index: 2;
				cursor: pointer;
				background-size: 80%;
				background-position: center;
				background-repeat: no-repeat;
				opacity: .7;
				transition: opacity .2s;

				&:hover{
					opacity: 1;
				}
			}

			.button-prev{
				background-image: url(/resources/images/icons/slider-arrow-left.svg);
			}

			.button-next{
				background-image: url(/resources/images/icons/slider-arrow-right.svg);
				right: 0;
			}

	      	.mySwiper2 {
	      		width: 370px;
	      		height: 320px;
				//border: 1px solid red;	

				.swiper-wrapper{
					.swiper-slide{

						a{
							img{
								width: 370px;
	      						height: 320px;
								object-fit: cover;
							}
						}
					}
				}	
			}

			.mySwiper {
				margin-top: 10px;
				height: 70px;
				width: 370px;
				//border: 1px solid red;	

				.swiper-slide {
					opacity: 0.5;
					height: 53px;
					display: flex;
					cursor: pointer;
					border-radius: 10px;
					overflow: hidden;

					img{
						width: 53px;
						height: 53px;
						object-fit: cover;
					}
				}

				.swiper-slide-thumb-active {
					opacity: 1;
				}
			}
		} 

		.catalog-product_photo{
			width: 450px;
			margin-left: 10px;
			flex: none;
			a{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				img{
					max-width: 100%;
				}
			}
		}

		.description{
			font-size: 15px;
			line-height: 1.5em;

			>*{
				&:not(:last-child){
					margin-bottom: 8px;
				}
			}
		}
	}

	&_buy{
		margin-top: 20px;
		width: 200px;
		flex: none;
		align-self: flex-start;
	
		//border: 1px solid red;

		&-price{
			text-align: center;

			.old{
				font-size: 20px;
				color: #b5b5b5;
				position: relative;
				line-height: 1em;
				margin-bottom: 2px;

				&:before{
					content: '';
					width: 56px;
					display: block;
					height: 1px;
					background: #b5b5b5;
					position: absolute;
					margin-top: 12px;
					margin-left: calc(50% - 28px);
				}
			}

			.actual{
				line-height: 1em;
				font-size: 40px;
				font-weight: bold;
			}
		}

		form{
			margin-top: 20px;

			.btn-buy{
				border-radius: 14px;
				width: 160px;
				margin: 0 auto;

				a{
					width: 100%;
					background-color: #e1e1e1;

					&:hover{
						background-color: #526194;
					}
				}
			}
		}

		.article{
			margin: 20px auto 0;
			font-size: 14px;
			color: #777;
			white-space: nowrap;
			text-align: center;
		}



		// &-promo{
		// 	margin-top: 15px;
		// 	margin-bottom: 5px;

		// 	&-title{
		// 		font-weight: 500;
		// 		font-size: 14px;
		// 		text-transform: uppercase;
		// 		text-align: center;
		// 		letter-spacing: 1px;
		// 	}

		// 	&-list{
		// 		margin-top: 6px;
		// 		text-align: center;

		// 		a{
		// 			font-size: 12px;
		// 			display: inline-block;
		// 			line-height: 1.5em;
		// 			border-bottom: 1px dashed;
		// 			margin-bottom: 7px;
		// 		}
		// 	}
		// }
	}
}