header {
	max-width: 100rem;
	width: 100%;
	margin: 0 auto;
	padding: 1.6rem 1rem;
	display: flex;
	align-items: center;

	.logo-header {
		font-weight: 500;
		letter-spacing: 0.1rem;
	}

	nav {
		display: flex;
		margin-left: auto;
		column-gap: 2.5rem;

		a {
			font-size: 1.3rem;
		}
	}
}

.header {
	// background: #000;
	// position: fixed;
	// top: 0;
	// width: 100%;
	// z-index: 10;
	// height: 70px;

	// &-wrapper {
	// 	max-width: 1254px;
	// 	margin: 0 auto;
	// 	padding: 10px 15px;
	// 	display: flex;
	// 	align-items: center;

	// 	//border: 1px solid red;

	// 	.logo {
	// 		&-name {
	// 			//display: none;
	// 		}
	// 	}

	// 	.navigation {
	// 		display: flex;
	// 		align-items: center;
	// 		column-gap: 40px;
	// 		margin-left: 60px;

	// 		> * {
	// 			cursor: pointer;
	// 			user-select: none;

	// 			color: #fff;
	// 			white-space: nowrap;
	// 			font-size: 14px;

	// 			letter-spacing: 0.2px;
	// 			text-transform: uppercase;

	// 			transition: color 0.2s;

	// 			&:hover {
	// 				color: $color_3;
	// 			}
	// 		}
	// 	}

	// 	.btn-state-search {
	// 		display: none;
	// 	}

	// 	.widget-search {
	// 		margin-left: 70px;
	// 	}

	// 	.btn-state-search {
	// 		display: none;
	// 	}

	// 	.mini-cart {
	// 		height: 50px;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: flex-end;
	// 		position: relative;
	// 		flex: none;
	// 		margin-left: 45px;

	// 		> a {
	// 			display: flex;
	// 			align-items: center;
	// 			padding: 3px 0px;
	// 			border-bottom: 2px solid $color;
	// 			transition: box-shadow 0.2s;

	// 			&:hover {
	// 				box-shadow: 0px 9px 10px -4px rgba($color, 0.65);
	// 			}

	// 			.count {
	// 				margin-right: 8px;
	// 				color: #fff;
	// 				font-size: 14px;
	// 			}

	// 			.price {
	// 				font-size: 16px;
	// 				color: #fff;
	// 				letter-spacing: 0.2px;

	// 				span {
	// 					font-size: 16px;
	// 					color: #fff;
	// 				}
	// 			}

	// 			.mini-cart-empty {
	// 				color: #fff;
	// 				transition: color 0.2s;
	// 			}
	// 		}

	// 		.mini-cart-dropdown {
	// 			display: none;
	// 		}
	// 	}
	// }

	// @include screen_lg {
	// 	&-wrapper {
	// 		.logo {
	// 			&-name {
	// 				display: none;
	// 				font-size: 10px;
	// 			}
	// 		}

	// 		.navigation {
	// 			column-gap: 30px;
	// 			margin-left: 40px;
	// 		}

	// 		.widget-search {
	// 			margin-left: 40px;
	// 		}

	// 		.mini-cart {
	// 			margin-left: 30px;
	// 		}
	// 	}
	// }

	// @include screen_md {
	// 	height: 60px;

	// 	&-wrapper {
	// 		padding-top: 5px;
	// 		padding-bottom: 5px;

	// 		.logo {
	// 			&-name {
	// 				display: none;
	// 			}
	// 		}

	// 		.navigation {
	// 			column-gap: 18px;
	// 			margin-left: 20px;

	// 			> * {
	// 				font-size: 11px;
	// 			}
	// 		}

	// 		.widget-search {
	// 			margin-left: 20px;
	// 		}

	// 		.mini-cart {
	// 			margin-left: 20px;

	// 			> a {
	// 				.count {
	// 					font-size: 13px;
	// 				}

	// 				.price {
	// 					font-size: 13px;

	// 					span {
	// 						font-size: 13px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	// @include screen_sm_down {
	// 	height: 62px;

	// 	&-wrapper {
	// 		padding: 10px 10px;

	// 		.navigation,
	// 		.mini-cart {
	// 			display: none;
	// 		}

	// 		.btn-state-search {
	// 			display: flex;
	// 			margin-left: auto;
	// 			margin-right: 5px;
	// 			column-gap: 7px;
	// 			cursor: pointer;
	// 			user-select: none;

	// 			img {
	// 				height: 24px;
	// 			}

	// 			span {
	// 				color: #fff;
	// 				font-size: 18px;
	// 			}
	// 		}

	// 		.widget-search {
	// 			margin-left: 0;
	// 		}
	// 	}
	// }

	// .header-section-top {
	// 	padding: 10px 0px;
	// 	//display: none;

	// 	&.active {
	// 		display: block;
	// 	}

	// 	.section-wrapper {
	// 		column-gap: 35px;
	// 	}

	// 	.header-description {
	// 		font-size: 14px;
	// 		white-space: nowrap;

	// 		span {
	// 			font-weight: bold;
	// 			font-size: 20px;
	// 			line-height: 1em;
	// 		}
	// 	}

	// 	.header-phone {
	// 		margin-left: auto;
	// 		a {
	// 			font-size: 17px;
	// 			font-weight: 500;
	// 			letter-spacing: 0.2px;
	// 			white-space: nowrap;
	// 		}
	// 	}

	// 	.header-address {
	// 		font-size: 14px;
	// 	}

	// 	.social-list {
	// 		list-style-type: none;
	// 		display: flex;
	// 		align-items: center;
	// 		column-gap: 12px;
	// 		padding: 0;

	// 		li {
	// 			a {
	// 				img {
	// 					height: 22px;
	// 					display: block;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	nav {
	// 		ul {
	// 			display: flex;
	// 			align-items: center;
	// 			column-gap: 20px;
	// 			list-style-type: none;
	// 			padding: 0;

	// 			li {
	// 				a {
	// 					font-size: 14px;
	// 					white-space: nowrap;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	// @include screen_md {
	// 	.header-section-top {
	// 		padding-bottom: 15px;

	// 		.section-wrapper {
	// 			flex-wrap: wrap;
	// 		}

	// 		.header-description {
	// 			font-size: 16px;
	// 			margin-bottom: 15px;
	// 			width: 70%;

	// 			span {
	// 				font-size: 20px;
	// 				line-height: 1.3em;
	// 			}
	// 		}

	// 		.header-phone {
	// 			a {
	// 				font-size: 18px;
	// 			}
	// 		}

	// 		.header-address {
	// 			br {
	// 				display: none;
	// 			}
	// 		}

	// 		.social-list {
	// 			column-gap: 14px;
	// 			margin-left: auto;

	// 			li {
	// 				a {
	// 					img {
	// 						height: 26px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}

	// 	.header-section-bottom {
	// 		.btn-catalog {
	// 			margin-left: 60px;

	// 			img {
	// 				height: 20px;
	// 			}

	// 			span {
	// 				font-size: 18px;
	// 			}
	// 		}

	// 		.btn-state-search {
	// 			display: flex;
	// 			align-items: center;
	// 			column-gap: 7px;
	// 			height: 44px;
	// 			margin-left: 30px;
	// 			cursor: pointer;
	// 			user-select: none;

	// 			img {
	// 				height: 24px;
	// 			}

	// 			span {
	// 				font-size: 18px;
	// 				color: #fff;
	// 			}
	// 		}

	// 		.btn-state-top-section {
	// 			height: 36px;
	// 			width: 44px;
	// 			margin-top: -24px;
	// 			margin-left: auto;

	// 			img {
	// 				height: 36px;
	// 			}
	// 		}

	// 		.mini-cart {
	// 			> a {
	// 				.count {
	// 					font-size: 16px;
	// 				}

	// 				.price {
	// 					font-size: 16px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	// @include screen_sm_down {
	// 	display: none;
	// }
}

#modal-about {
	// position: fixed;
	// border: 1px solid red;
	// width: 500px;
	// height: 400px;
	// background: #fff;
	// z-index: 100;

	.modal-wrapper {
		width: 100%;
		max-width: 500px;

		.phone {
			margin-bottom: 20px;

			a {
				font-size: 50px;
				font-weight: bold;
			}
		}

		.address {
			margin-top: 10px;

			a {
				font-size: 18px;
				line-height: 1.4em;
			}
		}

		.socilas {
		}

		nav {
			margin-bottom: 30px;

			ul {
				list-style-type: none;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				gap: 10px;

				li {
					a {
						padding: 10px;
						border-radius: $brsSmall;
						background: $color_2;
						min-width: 100px;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}

		.map {
			margin: 15px -20px -25px;

			iframe {
				height: 250px;
				width: 100%;
			}
		}
	}
}

.header-mobile {
	background: #000;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	.btn-state-search {
		margin-left: auto;
		margin-right: 5px;
		display: flex;
		align-items: center;
		column-gap: 7px;
		height: 44px;
		cursor: pointer;
		user-select: none;

		img {
			height: 24px;
		}

		span {
			font-size: 18px;
			color: #fff;
		}
	}

	@include screen_md_up {
		display: none;
	}
}
