// ВИДЖЕТ ПОИСКА

body.search-active {
	@include screen_sm_down {
		overflow-y: hidden;

		.widget-search {
			display: block;

			.search-form_btns {
				.btn-search {
					display: none;
				}
			}
		}
	}
}

.widget-search {
	// desktop
	@include screen_md_up {
		width: 100%;
		position: relative;

		.search-form {
			display: flex;
			position: relative;
			z-index: 2;

			input {
				height: 44px;
				border-radius: 10px 0 0 10px;
				border: none;
				background: #fff;
				outline: none;
				padding: 0px 15px;
				font-size: 18px;
				width: 100%;
			}

			&_btns {
				display: flex;

				button {
					height: 44px;
					width: 44px;
					padding: 0px 10px;
					border: none;
					background: #fff;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;

					&:hover {
						img {
							opacity: 1;
						}
					}

					&:nth-child(1) {
						display: none;

						&.active {
							display: flex;
						}

						img {
							height: 18px;
						}

						&:after {
							content: '';
							display: block;
							height: 14px;
							width: 1px;
							background: #d2d2d2;
							position: absolute;
							right: 0;
						}
					}

					&:nth-child(2) {
						border-radius: 0px 10px 10px 0;

						img {
							height: 22px;
						}
					}

					&:nth-child(3) {
						display: none;
					}

					img {
						opacity: 0.7;
						transition: opacity 0.2s ease-in-out;
					}
				}
			}
		}

		.widget-search-results {
			display: none;
			background: #fff;
			position: absolute;
			margin-top: 5px;
			left: 0;
			right: 0;
			z-index: 5;
			border-radius: $brs;
			box-shadow: 0px 3px 10px 3px rgba($color, 0.25);
			flex-direction: column;

			&.active {
				display: flex;
			}

			&_categories,
			&_products,
			&_history {
				display: none;
				padding: 15px 0;

				&.active {
					display: block;
				}

				&-title {
					font-weight: 600;
					margin-bottom: 6px;
					text-transform: uppercase;
					padding: 0 15px;
					color: $color;
				}

				&-list {
					display: flex;
					flex-direction: column;

					> div {
						display: flex;
						align-items: center;
						transition: background 0.2s;
						cursor: pointer;

						&:hover {
							background: rgba($color, 0.1);
						}
					}
				}
			}

			&_categories {
				&-list {
					> div {
						padding: 7px 15px;

						span {
							&:nth-child(1) {
								font-weight: 500;
								font-size: 16px;
							}

							&:nth-child(2) {
								margin-left: 6px;

								&:before {
									content: '/';
									margin-right: 5px;
								}
							}

							&:nth-child(3) {
								margin-left: auto;
							}

							&:nth-child(2),
							&:nth-child(3) {
								font-size: 14px;
								color: $color_4;
							}
						}
					}
				}
			}

			&_products {
				&-list {
					> div {
						padding: 6px 15px;

						img {
							height: 40px;
							width: 40px;
							margin-right: 12px;
							object-fit: cover;
							border-radius: $brs;
						}

						span {
							font-size: 14px;
						}
					}
				}
			}

			&_history {
				&-list {
					> div {
						a {
							display: inline-block;
							padding: 5px 15px;
						}
					}
				}

				&-btn-clear {
					font-size: 14px;
					width: 130px;
					margin: 15px 15px 0 auto;
					cursor: pointer;
					user-select: none;
					transition: color 0.2s;

					&:hover {
						color: $accentHover;
					}
				}
			}

			&_all {
				display: none;
				align-items: center;
				column-gap: 15px;

				padding: 15px 30px 15px 15px;
				margin: 0 15px 15px;

				border-radius: $brs;
				background-color: rgba($color, 0.1);
				background-image: url(/resources/images/icons/right-arrow.svg);
				background-position: center right 10px;
				background-repeat: no-repeat;
				background-size: 14px;
				cursor: pointer;

				font-size: 14px;
				user-select: none;
				transition: background 0.2s;

				&:hover {
					background-color: rgba($color, 0.2);
				}

				&.active {
					display: flex;
				}

				.all-results_title {
					font-weight: 500;
					//color: $accent;
				}

				.all-results_list {
					display: flex;
					column-gap: 15px;
				}

				.all-results_categories,
				.all-results_products {
					display: none;
					flex: none;

					&.active {
						display: block;
					}
				}
			}
		}
	}

	// mobile
	@include screen_sm_down {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		width: 100vw;
		background: #fff;
		display: none;
		padding: 0;

		.search-form {
			display: flex;
			position: relative;
			z-index: 2;
			margin-bottom: 20px;
			padding: 10px;
			background: #000;
			box-shadow: 0 5px 10px 5px rgba($color, 0.15);

			input {
				height: 42px;
				padding: 0;
				border-radius: $brsSmall 0 0 $brsSmall;
				border: none;
				background: #fff;
				outline: none;
				font-size: 16px;
				padding-left: 14px;
				width: 100%;
			}

			&_btns {
				display: flex;

				button {
					height: 42px;
					width: 42px;
					padding: 0px 10px;
					border: none;
					background: #fff;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;

					&:focus {
						img {
							opacity: 1;
						}
					}

					&:nth-child(1) {
						display: none;
						width: 46px;

						&.active {
							display: flex;
						}

						img {
							height: 18px;
						}
					}

					&:nth-child(3) {
						display: flex;
						width: auto;
						font-weight: 500;
						font-size: 14px;
						margin: 0;
						border-radius: 0 $brsSmall $brsSmall 0;
					}

					img {
						opacity: 0.7;
						transition: opacity 0.2s ease-in-out;
					}
				}
			}
		}

		.widget-search-results {
			display: none;
			padding: 0 15px;
			flex-direction: column;
			height: calc(100vh - 70px);
			overflow-y: scroll;

			&.active {
				display: flex;
			}

			&_categories,
			&_products,
			&_history {
				display: none;
				margin-bottom: 20px;

				&.active {
					display: block;
				}

				&-title {
					font-weight: 500;
					margin-bottom: 6px;
					text-transform: uppercase;
					color: $color;
					font-size: 15px;
				}

				&-list {
					display: flex;
					flex-direction: column;

					> div {
						display: flex;
						align-items: center;
						cursor: pointer;
					}
				}
			}

			&_categories {
				&-list {
					> div {
						//border: 1px solid red;
						padding: 8px 0;
						display: flex;
						flex-wrap: wrap;
						align-items: center;

						span {
							&:nth-child(1) {
								font-weight: 500;
								font-size: 15px;
								width: calc(100% - 82px);
								flex: none;
							}

							&:nth-child(2) {
								order: 3;
								width: 100%;
								margin-top: 3px;
							}

							&:nth-child(3) {
								white-space: nowrap;
								order: 2;
								width: 82px;
								text-align: right;
							}

							&:nth-child(2),
							&:nth-child(3) {
								font-size: 14px;
								color: $color_4;
							}
						}
					}
				}
			}

			&_products {
				&-list {
					> div {
						padding: 6px 0;

						img {
							height: 40px;
							width: 40px;
							margin-right: 12px;
							object-fit: cover;
							border-radius: $brsSmall;
						}

						span {
							font-size: 14px;
						}
					}
				}
			}

			&_history {
				&-list {
					> div {
						padding: 8px 0;
						a {
							display: inline-block;
						}
					}
				}

				&-btn-clear {
					font-size: 14px;
					width: 130px;
					margin-left: auto;
					cursor: pointer;
					user-select: none;
					transition: color 0.2s;
					margin-top: 15px;
					color: $gray2;

					&:focus {
						color: $accentHover;
					}
				}
			}

			&_all {
				display: none;
				align-items: center;
				column-gap: 15px;

				padding: 15px 30px 15px 15px;

				border-radius: $brs;
				background-color: $color_2;
				background-image: url(/resources/images/icons/right-arrow.svg);
				background-position: center right 15px;
				background-repeat: no-repeat;
				background-size: 14px;
				cursor: pointer;

				font-size: 15px;
				user-select: none;
				transition: background 0.2s;

				&:hover,
				&:active {
					background-color: rgba($color, 0.2);
				}

				&.active {
					display: flex;
				}

				.all-results_title {
					display: none;
				}

				.all-results_list {
					display: flex;
					column-gap: 20px;
				}

				.all-results_categories,
				.all-results_products {
					display: none;
					white-space: nowrap;

					&.active {
						display: block;
					}
				}
			}
		}
	}
}

// СТРАНИЦА ПОИСКА
.search-page {
	&_heading {
		margin-bottom: 30px;

		.query {
			font-size: 26px;
			span {
				font-weight: bold;
			}
		}

		.count {
			margin-top: 5px;
			font-size: 18px;
			color: $accentHover;
		}
	}

	&_text-inform {
		font-size: 30px;
		font-weight: bold;
	}

	.catalog-categories-list {
		margin-bottom: 20px;
	}

	@include screen_sm_down {
		&_heading {
			margin-bottom: 30px;

			.query {
				font-size: 18px;

				span {
					display: block;
				}
			}
		}

		&_text-inform {
			font-size: 18px;
		}
	}
}
