.widget-search {
    position: relative;

    .search-form {
        display: flex;
        position: relative;
        z-index: 2;

        input {
            height: 34px;
            border-radius: 6px 0 0 6px;
            border: none;
            background: #fff;
            outline: none;
            padding: 0px 15px;
            font-size: 15px;
            width: 100%;
        }

        &_btns{
            display: flex;

            button {
                height: 34px;
                width: 38px;
                padding: 0px 10px;
                border: none;
                background: #fff;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &:hover{
                    img{
                        opacity: 1;
                    }
                }

                &:nth-child(1){
                    display: none;

                    &.active{
                        display: flex;
                    }

                    img {
                        height: 11px;
                    }

                    &:after{
                        content: "";
                        display: block;
                        height: 14px;
                        width: 1px;
                        background: #969696;
                        position: absolute;
                        right: 0;
                    }
                }

                &:nth-child(2){
                    border-radius: 0px 6px 6px 0;

                    img {
                        height: 18px;
                    }
                }

                img {
                    opacity: .5;
                    transition: opacity .2s ease-in-out;
                }
            }
        }
    }

    .widget-search-results {
        display: none;
        background: #fff;
        position: absolute;
        margin-top: 5px;
        left: 0;
        right: 0;
        z-index: 5;
        border-radius: 6px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
        padding: 15px 0px;

        flex-direction: column;
        row-gap: 20px;

        &.active{
            display: flex;
        }

        &_words-list{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .item{
                //border: 1px solid red;
                padding: 8px 10px;
                font-size: 14px;
                background: $gray;
                border-radius: $brs;
                cursor: pointer;
            }
        }

        &_categories, &_products{
            display: none;

            &.active{
                display: block;
            }

            &-title{
                font-weight: 600;
                margin-bottom: 6px;
                text-transform: uppercase;
                padding: 0 15px;
                color: $accentHover;
            }

            &-list{
                display: flex;
                flex-direction: column;

                >div{
                    display: flex;
                    align-items: center;
                    transition: background .2s;
                    cursor: pointer;

                    &:hover{
                        background: rgba($accentHover, .1);
                    }
                }
            }
        }

        &_categories{
            &-list{

                >div{
                    padding: 7px 15px;

                    span{
                        &:nth-child(1){
                            font-weight: 500;
                            font-size: 15px;
                        }

                        &:nth-child(2){
                            margin-left: 10px;

                            &:before{
                                content: "/";
                                margin-right: 10px;
                            }
                        }

                        &:nth-child(3){
                            margin-left: auto;
                        }

                        &:nth-child(2), &:nth-child(3){
                            font-size: 13px;
                            color: $gray2;
                        }
                    }
                }
            }
        }

        &_products{
            &-list{

                >div{
                    padding: 7px 15px;

                    img{
                        height: 40px;
                        width: 40px;
                        margin-right: 15px;
                        object-fit: cover;
                        border-radius: 4px;
                    }

                    span{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}