<?
/** @var string $idPrefix */
/** @var bool $withQuantity */
?>


<?php 
	// передаваемые данные о товаре
	$extra = ["id" => $item->id, "type" => $type];

	if($type == "sku"){
		$extra["id_sku"] = $id_sku;
	} 
?>


<div class="btn-buy" 
	id="<?= $idPrefix ?>-wrapper" 
	title="<?=isset($added) && $added ? 'Перейти в коробку':'Добавить в коробку'?>">

	<a href="#" class="add-to-cart-btn" 
		<? if ($withQuantity): ?> data-quantity="#<?= $idPrefix ?>-quantity"<? endif ?>
		data-extra="<?= extra($extra) ?>"
		id="<?= $idPrefix ?>-btn">
	</a>

	<a class="to-cart-btn" href="/shop/cart/" title="Перейти в коробку"></a>
</div>


						
	