<?

/** @var string $idPrefix */
/** @var bool $withQuantity */
?>

<?php
// передаваемые данные о товаре
$extra = ["id" => $item->id, "type" => $type];
$quantity = 1;

if ($type == "sku") {
	$extra["id_sku"] = $id_sku;
}
?>


<?/*
<div class="btn-buy" data-id="<?= $extra['id'] ?>" id="<?= $idPrefix ?>-wrapper" title="<?= isset($added) && $added ? 'Перейти в коробку' : 'Добавить в коробку' ?>">
	<a href="#" class="add-to-cart-btn" <? if ($withQuantity) : ?> data-quantity="#<?= $idPrefix ?>-quantity" <? endif ?> data-extra="<?= extra($extra) ?>" id="<?= $idPrefix ?>-btn"></a>
</div>
*/ ?>

<div class="btn-buy" data-id="<?= $extra['id'] ?>" data-type="<?= $type ?>" data-quantity="<?= $quantity ?>" <?= $type == "sku" ? "data-id-sku='$id_sku'" : "" ?>></div>