<?
/** @var string $idPrefix */
/** @var bool $withQuantity */
?>


<?php 
	// проверка добавлен ли товар в корзину
	if(in_array($item->id, $idsProductsCart)) $added = true; 

	$extra = ["id" => $item->id, "type" => $type];

	if($type == "sku"){
		$extra["id_sku"] = $id_sku;
	}
?>

<div class="btn-buy" 
	id="<?= $idPrefix ?>-wrapper" 

	<?php if (isset($added) && $added): ?> 
		data-added="true"
	<?php endif ?>

	title="<?=isset($added) && $added ? 'Перейти в коробку':'Добавить в коробку'?>">

	<a href="#" class="add-to-cart-btn" 
		<? if ($withQuantity): ?> data-quantity="#<?= $idPrefix ?>-quantity"<? endif ?>
		data-extra="<?= extra($extra) ?>"
		id="<?= $idPrefix ?>-btn">
	</a>

	<a class="to-cart-btn" href="/shop/cart/" title="Перейти в коробку"></a>
</div>



<?/*
			<? if (Phpr::$config->get('SHOP_ENABLE_LEFTOVERS') && $item->leftover < 1): ?>
				<p class="info">Нет в наличии</p>
			<? else: ?>
			<? endif ?>
			
			<? if (Phpr::$config->get('SHOP_ENABLE_LEFTOVERS') && $item->leftover <= Admin_ModuleSettings::get_module_parameter('shop', 'few_left_threshold')): ?>
				<p>Осталось мало!</p>
			<? endif ?>

			<? if ($withQuantity): ?>
				<input type="number" min="1" name="quantity" value="<?= $initialQuantity ?>" id="<?= $idPrefix ?>-quantity" />
			<? endif ?>
*/?>


						
	