<? /** @var Shop_Cart $cart */ ?>
<?php
	if (!isset($cart) || !$cart) {
		$cart = Shop_Cart::getCart();
	}

	$productsMiniCart = $cart->getItems();
	$countProductsMiniCart = $cart->getItemsCount();
	$totalPriceMiniCart = $cart->getTotalPrice();
?>

<div id="mini-cart" class="mini-cart">
	<a href="<?= u('shop_cart', []) ?>">
		<div class="icon">
			<img src="/resources/images/icons/white-box.svg" alt="">
		</div>

		<?php if($countProductsMiniCart): ?>
			<div class="count">
				<?= $countProductsMiniCart ?>	
			</div>
		<?php endif; ?>	

		<div class="price">
			<?php if($countProductsMiniCart): ?>
				<?= Core_Number::formatNumber($totalPriceMiniCart) ?>
				<span>р.</span>
			<?php else:?>
				<span>Коробка</span>
			<?php endif; ?>	
		</div>
	</a>

	<?php if($countProductsMiniCart): ?>
		<div class="mini-cart-dropdown">

			<div class="mini-cart-dropdown_title">Коробка</div>

			<?= Phpr_Form::openTag(["id" => "test", "action" => "/shop"]) ?>
				<div class="mini-cart-dropdown_list">

					<?php foreach ($productsMiniCart as $item): ?>

						<?php $product = $item->getProduct() ?>

						<div class="item">
							<? if ($photo = $product->findMainPhoto()): ?>
								<div class="photo">
									<a href="<?= $product->getUrl() ?>">
										<img src="<?= $photo->getThumb(60, 60,  Phpr_ImageManipulator::fitAndCrop) ?>" alt=""/>
									</a>
								</div>
							<? endif ?>

							<div class="name">
								<a href="<?= $product->getUrl() ?>"><?= $product->name ?></a>
							</div>

							<div class="price">
								<p class="price-tovar"><span><?= Core_Number::formatNumber($item->getTotalPrice()) ?></span></p>
								<p class="summa"><span><?= $item->getQuantity() ?></span> шт. &#215; <span><?= Core_Number::formatNumber($product->price) ?></span></p>
							</div>

							<div class="del">
								<a href="#" data-handler="onDeleteProductCart" data-confirm="Удалить товар из корзины?" data-extra="<?= extra(["id" => $item->getId(), 'page' => $_SERVER['REQUEST_URI']]) ?>" title="Удалить">
									<img src="/resources/images/icons/delete.svg" alt="Удалить">
								</a>
							</div>
						</div>
					<?php endforeach ?>
				</div>
			<? Phpr_Form::closeTag() ?>

			<div class="mini-cart-dropdown_footer">
				<div class="price">
					<?= Core_Number::formatNumber($totalPriceMiniCart) ?>
				</div>

				<div class="btn">
					<a href="/shop/cart">Перейти в коробку</a>
				</div>
			</div>
		</div>
	<?php endif; ?>	
</div>