<?

/** @var Shop_Cart */
?>

<?php Phpr_View::beginBlock("head") ?>
<?= Core_Html::js($this->getAsset('dist/cart.min.js')) ?>
<?php Phpr_View::endBlock(true) ?>

<?= Core_Html::js($this->getAsset('dist/product-show.min.js')) ?>
<div class="cart">
	<div class="container">

		<div class="cart-heading">
			<h1>Корзина</h1>

			<?php if ($cart->getItemsCount()) : ?>
				<form>
					<a href="#" data-handler="onClearCart" data-confirm="Очистить корзину?">
						<img src="/resources/images/icons/delete.svg" alt="Удалить">
						<span>Удалить всё</span>
					</a>
				</form>
			<?php endif ?>
		</div>

		<?php if (!$cart->getItemsCount()) : ?>
			<div class="cart-empty">
				<a href="/catalog/">
					<img src="/resources/images/icons/tree.svg" alt="Дерево">
				</a>
				<p>Пока тут только дерево</p>
			</div>
		<?php else : ?>
			<?php $cartItems = $cart->getItems(); ?>

			<div class="cart-wrapper">
				<div class="cart-section">
					<div class="cart-list-products">
						<?= Phpr_Form::openTag(["id" => "cart-form"]) ?>

						<?php foreach ($cartItems as $item) : ?>

							<?php
							$product = $item->getProduct();
							$sku = $item->getSku();
							?>

							<?php if ($product) : ?>

								<div class="cart-list-products-item">

									<?php if ($photo = $product->findMainPhoto()) : ?>
										<div class="photo <?= $product->regular_photo ? 'photo--regular' : '' ?>">
											<a href="<?= $product->getUrl() ?>">

												<?php
												$width = $height = ($product->regular_photo) ? 140 : 70;
												$img = $photo->getThumb($width, $height,  Phpr_ImageManipulator::keepRatio);
												?>

												<img src="<?= $img ?>" alt="<?= $product->name ?>" />
											</a>
										</div>
									<? endif ?>

									<div class="name">
										<a href="<?= $product->getUrl() ?>">
											<?= $product->name ?>

											<?php if ($sku) : ?>
												<span><?= $sku->name ?></span>
											<?php endif; ?>
										</a>

										<div class="product-other-info">
											<p>Код товара: <?= $product->id ?><?= $sku ? "-" . $sku->id : null ?></p>
											<p>В наличии: <?= $sku ? $sku->leftover : $product->leftover ?></p>
										</div>
									</div>

									<div class="count">
										<?php $leftover = $sku ? $sku->leftover : $product->leftover ?>

										<button class="btn-quantity-cart btn-quantity-minus">-</button>
										<input type="number" min="0" max="<?= $leftover ?>" class="quantity-num" value="<?= $item->getQuantity() ?>" name="quantity[<?= $item->getId() ?>]" />
										<button class="btn-quantity-cart btn-quantity-plus">+</button>
									</div>

									<div class="price">
										<?php
										$product_price = cartProductPrice($item);
										$product_total_price = cartProductPrice($item, true);
										?>

										<p class="price-tovar"><span><?= Core_Number::formatNumber($product_total_price) ?></span> &#8381;</p>
										<p class="summa"><span><?= $item->getQuantity() ?></span> шт. &#215; <span><?= Core_Number::formatNumber($product_price) ?></span> &#8381;</p>
									</div>

									<div class="del">
										<a href="#" data-handler="onDeleteItem" data-extra="<?= extra(["id" => $item->getId()]) ?>" title="Удалить">
											<img src="/resources/images/icons/delete.svg" alt="Удалить">
										</a>
									</div>
								</div>
							<? else : ?>
								<? $cart->deleteItem($item) ?>
							<? endif ?>
						<?php endforeach ?>
						<? Phpr_Form::closeTag() ?>
					</div>


					<?php
					$freeDelivery = $this->menuItems->getTextBlock('free_delivery', 'Бесплатная доставка', Admin_TextBlock::TYPE_PLAIN)->content;
					$cart_total_price = cartTotalPrice($cartItems, true);
					?>

					<?php if ($freeDelivery && $freeDelivery > $cart_total_price) : ?>
						<div class="free-delivery-cart">
							<span><?= Core_Number::formatNumber($freeDelivery - $cart_total_price) ?> р.</span>
							<span>До бесплатной доставки по городу</span>
						</div>
					<?php endif; ?>

					<?/*
					<?php $packaging = App_Helper::getBanners('packaging') ?>

					
					<?php if(isset($packaging) && count($packaging)): ?>

						<div class="branded-packaging">

							<div class="branded-packaging_title">Добавить фирменную упаковку</div>

							<div class="branded-packaging_slider">
								<?php foreach ($packaging as $banner): ?>
									<?php 
										$imgOriginal = $banner->image->getThumb(1920, 1080, Phpr_ImageManipulator::keepRatio);
										$imgTumb = $banner->image->getThumb(400, 260, Phpr_ImageManipulator::fitAndCrop); 
									?>

									<?php if($imgTumb): ?>
										<a data-fancybox="packaging" href="<?= $imgOriginal ?>">
											<img src="<?= $imgTumb ?>" alt="<?= $banner->name ?>">
										</a>
									<?php endif; ?>
								<?php endforeach; ?>
							</div>

							<div class="branded-packaging_price">500</div>
							<div class="branded-packaging_btn">Добавить</div>
						</div>

					<?php endif;?>
					*/ ?>
				</div>


				<? $this->renderLayout($this->getViewsDir() . 'shop/checkout.htm', ['paidDelivery' => isset($paidDelivery)]); ?>
			</div>
		<?php endif ?>
	</div>
</div>