<?
/** @var Shop_Cart */
?>
<div class="cart">
	<div class="container">

		<div class="cart-heading">
			<h1>Коробка</h1>
			<?php if ($cart->getItemsCount()): ?>
				<form>
					<a href="#" 
						data-handler="onClearCart"
						data-confirm="Очистить корзину?"
					>
						<img src="/resources/images/icons/delete.svg" alt="Удалить">
						<span>Очистить корзину</span>
					</a>
				</form>
			<?php endif ?>
		</div>

		<?php if (!$cart->getItemsCount()): ?>
			<div class="cart-empty">
				<a href="/catalog/">
					<img src="/resources/images/icons/tree.svg" alt="Дерево">
				</a>
				<p>Пока тут только дерево</p>
			</div>
		<?php else: ?>
			<div class="cart-wrapper">
				<div class="cart-section">
					<div class="cart-list-products">
						<?= Phpr_Form::openTag(["id" => "cart-form"]) ?>
			
							<? foreach ($cart->getItems() as $item): ?>
								
								<? if ($sku = $item->getSku()): ?>
									<td>
										<? if ($photo = $sku->product->findMainPhoto()): ?>
											<img src="<?= $photo->getThumb(100, Phpr_ImageManipulator::auto) ?>" alt=""/>
										<? endif ?>
									</td>
									<td>
										<?= $sku->product->name ?> <?= sprintf('(%s)', $sku->name ? $sku->name : $sku->sku) ?>
									</td>
									<td><?= Core_Number::formatNumber($sku->price) ?> ₽ &#215;</td>
									<td>
										<input type="number" min="0" value="<?= $item->getQuantity()?>" name="quantity[<?= $item->getId() ?>]" />
										<a href="#" data-handler="onUpdateQuantity" data-extra="<?= extra(["id" => $item->getId()]) ?>">Обновить</a>
									</td>
									<td><?= $item->getTotalPrice() ?> ₽</td>
									<td><a href="#" data-handler="onDeleteItem" data-confirm="Удалить товар из корзины?" data-extra="<?= extra(["id" => $item->getId()]) ?>" title="Удалить">×</a></td>

								<? elseif ($product = $item->getProduct()): ?>
									<div class="cart-list-products-item">

										<? if ($photo = $product->findMainPhoto()): ?>
											<div class="photo <?= $product->regular_photo ? 'photo--regular':''?>">
												<a href="<?= $product->getUrl() ?>">
													<img src="<?= $photo->getThumb(70, 70,  Phpr_ImageManipulator::keepRatio); ?>" alt="<?= $product->name ?>"/>
												</a>
											</div>
										<? endif ?>
										
										<div class="name">
											<a href="<?= $product->getUrl() ?>"><?= $product->name ?></a>

											<div class="product-other-info">
												<p>Код товара: <?= $product->id ?></p>
												<p>В наличии: <?= $product->leftover ?></p>
											</div>									
										</div>

										<div class="count">
											<button class="btn-quantity-cart btn-quantity-minus">-</button>
											<input type="number" min="0" max="<?= $product->leftover ?>" class="quantity-num" value="<?= $item->getQuantity()?>" name="quantity[<?= $item->getId() ?>]" />
											<button class="btn-quantity-cart btn-quantity-plus">+</button>
										</div>

										<div class="price">
											<p class="price-tovar"><span><?= Core_Number::formatNumber($item->getTotalPrice()) ?></span></p>
											<p class="summa"><span><?= $item->getQuantity() ?></span> шт. &#215; <span><?= Core_Number::formatNumber($product->price) ?></span></p>
										</div>

										<div class="del">
											<a href="#" data-handler="onDeleteItem" data-extra="<?= extra(["id" => $item->getId()]) ?>" title="Удалить">
												<img src="/resources/images/icons/delete.svg" alt="Удалить">
											</a>
										</div>
									</div>
										
								<? else: ?>
									<? $cart->deleteItem($item) ?>
								<? endif ?>
							
							<? endforeach ?>
						<? Phpr_Form::closeTag() ?>
					</div>

					<?php 
						$freeDelivery = $this->menuItems->getTextBlock('free_delivery', 'Бесплатная доставка', Admin_TextBlock::TYPE_PLAIN)->content; 
						$totalPrice = $cart->getTotalPrice();
					?>

					<?php if($freeDelivery && $freeDelivery > $totalPrice): ?>
						<div class="free-delivery-cart">
							Для бесплатной доставки по г. Южно-Сахалинск, добавьте товаров ещё на <span> <?= $freeDelivery - $totalPrice ?> руб.</span>
						</div>
					<?php endif; ?>	

					<?/*
					<?php $packaging = App_Helper::getBanners('packaging') ?>

					
					<?php if(isset($packaging) && count($packaging)): ?>

						<div class="branded-packaging">

							<div class="branded-packaging_title">Добавить фирменную упаковку</div>

							<div class="branded-packaging_slider">
								<?php foreach ($packaging as $banner): ?>
									<?php 
										$imgOriginal = $banner->image->getThumb(1920, 1080, Phpr_ImageManipulator::keepRatio);
										$imgTumb = $banner->image->getThumb(400, 260, Phpr_ImageManipulator::fitAndCrop); 
									?>

									<?php if($imgTumb): ?>
										<a data-fancybox="packaging" href="<?= $imgOriginal ?>">
											<img src="<?= $imgTumb ?>" alt="<?= $banner->name ?>">
										</a>
									<?php endif; ?>
								<?php endforeach; ?>
							</div>

							<div class="branded-packaging_price">500</div>
							<div class="branded-packaging_btn">Добавить</div>
						</div>

					<?php endif;?>
					*/?>
				</div>
				

				<? $this->renderLayout($this->getViewsDir() . 'shop/checkout.htm', ['paidDelivery'=> isset($paidDelivery)]); ?>
			</div>
		<?php endif ?>
	</div>
</div>