<?

/** @var Shop_Cart */
?>

<?php Phpr_View::beginBlock("head") ?>
<?= Core_Html::js($this->getAsset('dist/cart.min.js')) ?>
<?php Phpr_View::endBlock(true) ?>

<div class="cart">
	<h1 class="heading-3">Корзина</h1>

	<?php if (!$cart->getItemsCount()) : ?>
		<?php $this->renderPartial("cart_empty") ?>
	<?php else : ?>
		<?php $this->renderPartial("cart_products_list") ?>
		<?php $this->renderPartial("cart_free_delivery") ?>
		<?php $this->renderPartial('checkout', ['paidDelivery' => isset($paidDelivery)]); ?>
	<?php endif ?>
</div>