<div class="shop checkout">
	<h1>Оформление заказа</h1>

	<?= Phpr_Form::openTag(["id" => "checkout-form"]) ?>
	<div class="formFlash"></div>
	<div>
		<label for="customer-name">ФИО: <sup class="required">*</sup></label>
		<input type="text" name="customer-name" id="customer-name" />
	</div>
	<div>
		<label for="customer-phone">Телефон: <sup class="required">*</sup></label>
		<input type="tel" name="customer-phone" id="customer-phone" />
	</div>
	<div>
		<label for="customer-email">Эл. почта: <sup class="required">*</sup></label>
		<input type="email" name="customer-email" id="customer-email" />
	</div>
	<div>
		<label for="customer-address">Адрес: <sup class="required">*</sup></label>
		<input type="text" name="customer-address" id="customer-address" />
	</div>
	<div>
		<label for="comment">Комментарий:</label>
		<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
	</div>

	<div><?php $this->renderPartial($this->getViewsDir() . 'payment/_payment_backends.htm', null, true, true) ?></div>

	<a href="#" data-handler="onPlaceOrder">Оформить заказ</a>
	<a href="<?= u("shop_cart", []) ?>">Вернуться в корзину</a>
	<?php Phpr_Form::closeTag() ?>
</div>