<div class="container">
	<div class="index-top-section">	

		<?php if(isset($catalogRootCategories) && count($catalogRootCategories)): ?>
			<div class="catalog-menu">
				<ul>
					<?php foreach ($catalogRootCategories as $category): ?>
						<li>
							<a href="/catalog/<?= $category->id ?>">
								<?php
									
									if(isset($category->image_id) && isset($category->image_path)){
										$image = (new LWImageManipulator($category->image_id, $category->image_path))->getPath();
									}else{
										$image = "/resources/images/icons/no-image.svg";
									}
								?>

								<img src="<?=$image?>" alt="<?= $category->name?>" />
								<span><?= $category->name ?></span>
							</a>

							<?php if(isset($category->hot_categories) && count($category->hot_categories)):?>
								<div class="hot-categories">
									<?php foreach($category->hot_categories as $hotCategory): ?>
										<a href="/catalog/<?= $hotCategory->id?>"><?= $hotCategory->name?></a>
									<?php endforeach ?>	
								</div>
							<?php endif ?>
						</li>
					<?php endforeach; ?>
				</ul>

				<div class="btns">
					<div class="btn">
						<a href="/catalog/">Все категории</a>
					</div>	
					
					<div class="btn">
						<a href="/catalog/all-products">Все товары</a>
					</div>
				</div>
			</div>
		<?php endif;?>

		<?php 
			//$mainSlider = App_Helper::getBanners('main_slider');
			//$mainSliderMobile = App_Helper::getBanners('main_slider_mobile');
		?>

		<?php if(isset($mainSlider) && count($mainSlider)): ?>
			<div class="main-slider swiper">
				<div class="button-prev"></div>
				<div class="button-next"></div>

				<div class="swiper-wrapper">
					<?php foreach ($mainSlider as $banner): ?>
						<?php $imgBanner = $banner->image->getPath(); ?>


						<?php if($imgBanner): ?>
							<div class="swiper-slide">
								
								<?php if($banner->link || $banner->link_page_id): ?>
									<a href="<?= ($banner->link_type == 'page') ? $banner->page_code : $banner->link?>" <?= $banner->open_in_new_window ? ' target="_blank"' : "" ?>>
								<?php endif;?>

									<img src="<?= $imgBanner ?>" alt="<?= $banner->name ?>">

								<?php if($banner->link || $banner->link_page_id): ?>
									</a>
								<?php endif;?>
							</div>		
						<?php endif; ?>
					<?php endforeach; ?>
				</div>
			</div>
		<?php endif;?>

		<?php if(isset($mainSliderMobile) && count($mainSliderMobile)): ?>
			<div class="main-slider-mobile swiper">
				<div class="swiper-wrapper">
					<?php foreach ($mainSliderMobile as $bannerMobile): ?>

						<?php $imgBanner = $bannerMobile->image->getThumb(767, 350, Phpr_ImageManipulator::fitAndCrop); ?>

						<?php if($imgBanner): ?>
							<div class="swiper-slide">

								<?php if($bannerMobile->link || $bannerMobile->link_page_id): ?>
									<a href="<?= ($bannerMobile->link_type == 'page') ? $bannerMobile->page_code : $bannerMobile->link?>" <?= $bannerMobile->open_in_new_window ? ' target="_blank"' : "" ?>>
								<?php endif;?>

									<img src="<?= $imgBanner ?>" alt="<?= $bannerMobile->name ?>">

								<?php if($bannerMobile->link || $bannerMobile->link_page_id): ?>
									</a>
								<?php endif;?>
							</div>		
						<?php endif; ?>
					<?php endforeach; ?>
				</div>
			</div>
			<div class="main-slider-mobile-pagination"></div>
		<?php endif;?>
	</div>

	<?php 
		if(isset($productSale)){
			$this->renderPartial($this->getViewsDir() . "/catalog/blocks/_product_grid.htm", ['products' => $productSale, 'title' => 'Товары со скидкой', 'link' => '/sale/']); 
		}	

		if(isset($productBestsellers)){
			$this->renderPartial($this->getViewsDir() . "/catalog/blocks/_product_grid.htm", ['products' => $productBestsellers, 'title' => 'Топ продаж', 'view_type' => 'list']); 
		}

		if(isset($productNew)){
			$this->renderPartial($this->getViewsDir() . "/catalog/blocks/_product_slider.htm", ['products' => $productNew, 'title' => 'Новинки', 'view_type' => 'list']); 
		}
	?>
</div>
