<div class="container">
	<div class="index-top-section">
		<?php $catalogCategories = Catalog_Category::create()->list_root_children(); ?>

		<?php if(isset($catalogCategories) && count($catalogCategories)): ?>
			<div class="catalog-menu">
				<ul>
					<?php foreach ($catalogCategories as $category): ?>
						<li>
							<a href="/catalog/<?= $category->id ?>">
								<img src="<?= $category->image->getPath()?>" alt="<?= $category->name?>" />
								<span><?= $category->name ?></span>
							</a>

							<?php $hotCategories = App_Helper::getHotCatalogCategories($category->id); ?>

							<?php if($hotCategories):?>
								<div class="hot-categories">
									<?php foreach($hotCategories as $hotCategory): ?>
										<a href="/catalog/<?= $hotCategory->id?>"><?= $hotCategory->name?></a>
									<?php endforeach ?>	
								</div>
							<?php endif ?>
						</li>
					<?php endforeach; ?>
				</ul>

				<div class="btns">
					<div class="btn">
						<a href="/catalog/">Все категории</a>
					</div>	
					
					<div class="btn">
						<a href="/catalog/all-products">Все товары</a>
					</div>
				</div>
			</div>
		<?php endif;?>

		<?php 
			$mainSlider = App_Helper::getBanners('main_slider');
			$mainSliderMobile = App_Helper::getBanners('main_slider_mobile');
		?>

		<?php if(isset($mainSlider) && count($mainSlider)): ?>
			<div class="main-slider swiper">
				<div class="button-prev"></div>
				<div class="button-next"></div>

				<div class="swiper-wrapper">
					<?php foreach ($mainSlider as $banner): ?>

						<?php $imgBanner = $banner->image->getThumb(850, 270, Phpr_ImageManipulator::fitAndCrop); ?>

						<?php if($imgBanner): ?>
							<div class="swiper-slide">
								
								<?php if($banner->link || $banner->link_page_id): ?>
									<a href="<?= ($banner->link_type == 'page') ? $banner->page_code : $banner->link?>" <?= $banner->open_in_new_window ? ' target="_blank"' : "" ?>>
								<?php endif;?>

									<img src="<?= $imgBanner ?>" alt="<?= $banner->name ?>">

								<?php if($banner->link || $banner->link_page_id): ?>
									</a>
								<?php endif;?>
							</div>		
						<?php endif; ?>
					<?php endforeach; ?>
				</div>
			</div>
		<?php endif;?>

		<?php if(isset($mainSliderMobile) && count($mainSliderMobile)): ?>
			<div class="main-slider-mobile swiper">
				<div class="swiper-wrapper">
					<?php foreach ($mainSliderMobile as $bannerMobile): ?>

						<?php $imgBanner = $bannerMobile->image->getThumb(767, 350, Phpr_ImageManipulator::fitAndCrop); ?>

						<?php if($imgBanner): ?>
							<div class="swiper-slide">

								<?php if($bannerMobile->link || $bannerMobile->link_page_id): ?>
									<a href="<?= ($bannerMobile->link_type == 'page') ? $bannerMobile->page_code : $bannerMobile->link?>" <?= $bannerMobile->open_in_new_window ? ' target="_blank"' : "" ?>>
								<?php endif;?>

									<img src="<?= $imgBanner ?>" alt="<?= $bannerMobile->name ?>">

								<?php if($bannerMobile->link || $bannerMobile->link_page_id): ?>
									</a>
								<?php endif;?>
							</div>		
						<?php endif; ?>
					<?php endforeach; ?>
				</div>
			</div>
			<div class="main-slider-mobile-pagination"></div>
		<?php endif;?>
	</div>

	<?php if(isset($sale) && count($sale)): ?>
		<div class="sale-index">
			<div class="sale-index_title">
				<a href="/sale/">
					<img src="/resources/images/icons/flame.svg" class="flame" alt="">
					<span>Товары со скидкой</span>
				</a>
			</div>

			<div class="list-products lg-5 md-4 sm-2" data-view-list="grid">
				<?php foreach($sale as $product): ?>
					<?php $this->renderPartial($this->getViewsDir() . "catalog/_product_card.htm", ['product'=>$product]);?>
				<? endforeach ?>
			</div>
		</div>
	<?php endif ?>
	
	<?php if(isset($bestsellers) && count($bestsellers)): ?>
		<div class="bestsellers">
			<div class="bestsellers-title">Хиты продаж</div>

			<div class="list-products lg-5 md-4 sm-2" data-view-list="grid">
				<?php foreach($bestsellers as $product): ?>
					<?php $this->renderPartial($this->getViewsDir() . "catalog/_product_card.htm", ['product'=>$product]);?>
				<? endforeach ?>
			</div>
		</div>
	<?php endif ?>

	<?php if(isset($newProducts) && count($newProducts)): ?>
		<div class="new-products">
			<div class="new-products-title">Новинки</div>

			<div class="list-products-slider swiper" data-view-list="grid">
				<div class="button-prev"></div>
				<div class="button-next"></div>
				
				<div class="swiper-wrapper">
					<?php foreach($newProducts as $product): ?>
						<div class="swiper-slide">
							<?php $this->renderPartial($this->getViewsDir() . "/catalog/_product_card.htm", ['product'=>$product]);?>
						</div>
					<? endforeach ?>
				</div>
			</div>
		</div>
	<?php endif ?>
</div>
