<? /** @var Application $this */ ?>
<? Phpr_View::beginBlock("head") ?>
<? Phpr_View::endBlock()?>

<? Phpr_View::beginBlock("view") ?>
<?
	$menus = Admin_Menu::create()->find_all();
	$menu = null;
	$item = null;
	$uri = Phpr::$request->getCurrentUri();
	
	foreach($menus as &$cmenu) {
		$item = Admin_MenuItem::find_current_item($cmenu, $uri);
		if($item && $item->text_block_id) {
			$menu = $cmenu;
			break;
		}
	} 
?>

<div class="about-page container static-page">
	<div class="heading-page">
		<h1><?= $block->title ?></h1>
	</div>

	<div data-formatted-text>
		<?= $block->get_filtered_text() ?>
	</div>

	<?php 
		$phone = $this->menuItems->getTextBlock('phone', 'Телефон', Admin_TextBlock::TYPE_PLAIN, '', 'Контакты')->content; 

	?>
	
	<div class="about-page_map">
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac7bcca417315c6e33e3f21db822f845c495986b1a5303562a6d67be16f03dada&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
	</div>
</div>
<? Phpr_View::endBlock()?>
