<? /** @var News_Post $entry */?>
<? Phpr_View::beginBlock("head") ?>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<?= Phpr::$request->getRootUrl() ?><?= Phpr::$request->getCurrentUri() ?>" />
    <meta property="og:site_name" content="<?= h(site_title()) ?>" />
	<? if ($entry->image && $entry->image->count): ?>
	    <meta property="og:image" content="<?= Phpr::$request->getRootUrl() ?><?= $entry->image->getThumb(480, 'auto') ?>" />
	<? endif ?>
    <meta property="og:title" content="<?= h($entry->title) ?>" />
    <meta property="og:description" content="<?= h($entry->description) ?>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="<?= Phpr::$request->getRootUrl() ?><?= Phpr::$request->getCurrentUri() ?>" />
    <meta name="twitter:title" content="<?= h($entry->title) ?>" />
    <meta name="twitter:description" content="<?= h($entry->description) ?>" />
	<? if ($entry->image && $entry->image->count): ?>
	    <meta name="twitter:image" content="<?= Phpr::$request->getRootUrl() ?><?= $entry->image->getThumb(480, 'auto') ?>" />
	<? endif ?>
<? Phpr_View::endBlock(true) ?>

<? Phpr_View::beginBlock("view") ?>
<div class="news-post" id="article">
	<h1><?= $entry->title ?></h1>
	<? if ($entry->image && $entry->image->count): ?>
		<img src="<?= $entry->image->getThumb(610, 400, Phpr_ImageManipulator::fitAndCrop); ?>" alt=""/>
	<? endif; ?>
	<? if (!$entry->content): ?>
		<p><?= $entry->description ?></p>
	<? else: ?>
		<?= $entry->getFullPost() ?>
	<? endif; ?>

	<? if (isset($entry->photos) && $entry->photos->count) : ?>
	<ul class="photos-list">
		<? foreach ($entry->photos as $photo) : ?>
			<? /** @var Db_File $photo */?>
			<li><img src="<?= $photo->getThumb(610, 400, Phpr_ImageManipulator::fitAndCrop) ?>" alt="" /></li>
		<? endforeach ?>
	</ul>
	<? endif; ?>
	<p class="date"><?= $entry->publish_date->format('%e %B %Y г.') ?></p>
</div>
<? Phpr_View::endBlock() ?>